[2015-09-22 21:56] marekstodolny opened #4 "getSupportedLocales() should return an array instead of an object"
In case somebody needs to reverse or change the order of $supportedLocales in navbar template they're forced to code a hack that extracts the array from object's protected variable.

[2015-09-22 22:57] arcanedev-maroc commented on #4
Have you tried `$supportedLocales->toArray()` ? The `Arcanedev\Localization\Entities\LocaleCollection` object extends from `Illuminate\Support\Collection` class.

More details: http://laravel.com/docs/5.1/collections

[2015-09-23 07:47] marekstodolny commented on #4
Yeah that explains everything :)
`toArray()` converts nested objects. `all()` doesn't so I recommend that.

Wouldn't it make sense to update the foreach loop in navbar template to use ->all(), just so new users know that $supportedLocales is a collection and not a regular array?

[2015-09-23 09:10] arcanedev-maroc commented on #4
In my opinion, the navbar is not a big deal, i can put the two examples in the documentation or as a comment in the navbar view.

But i'm gonna wait and see if the users got the same _"issue"_ with collection instead of the regular array.

PS: i'm still working on documentation: https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#localization-entities

[2015-09-23 12:28] Fanan90 opened #5 "Problem routing a form to his respective controller"
Hi, im having a problem when I try to route a LaravelCollective form to his respective controller, this is the view which contains the form:

[code]

And here my routes.php

[code]

When I route the login to the LoginController I don't have any problem because the login method does not need to be translated but when I try to open the view which contains the form I receive this error messages (serv

[2015-09-23 12:48] arcanedev-maroc commented on #5
I did not tested the Route::resource() method with Localization package.

I'm gonna check this out and try to fix it if there is a bug.

Have you tried explicit routes and see if it fix your problem ?

[2015-09-23 12:53] Fanan90 commented on #5
How can I try it? I'm newbie in Laravel

[2015-09-23 13:08] arcanedev-maroc commented on #5
Ok, give me extra time to test your case and try to find the issue.

The `Route:resource()` generate Restful routes for your controller (http://laravel.com/docs/5.1/controllers#restful-resource-controllers).

To be explicit is to create your routes manualy. I know it's a little bit pain in the A55, but (IMO) you have a total control and flexibility on your routes and you don't have to run `php art

[2015-09-23 14:15] arcanedev-maroc commented on #5
Never mind, i fixed it.

Try to update the `arcanedev/localization >= 0.5.4`.

Let me know if it's OK.

[2015-09-23 14:41] #5 closed, assigned to arcanedev-maroc

[2015-09-24 08:10] Fanan90 commented on #5
It works! Good job and thanks!

[2015-09-24 10:56] arcanedev-maroc commented on #5
You're welcome and thanks for your feedback :+1: .

[2015-09-25 17:36] marekstodolny opened #6 "support relative URLs in getLocalizedURL()"
Function works properly only with absolute URLs. 'laravel-localization' package's getLocalizedURL() managed to work with relative URLs too.

https://github.com/mcamara/laravel-localization/issues/47#issuecomment-35367363

This is my dirty fix.

[code]

[2015-09-25 17:51] arcanedev-maroc commented on #6
Ok, i'm going to check that.

Thanks.

[2015-09-25 18:11] arcanedev-maroc commented on #6
Done: 48227cf61421141cae99dddfa3804ddd7a852255

@marekstodolny try to update the `arcanedev/localization` to version `0.5.8` and let me know if it works for you.

**UPDATE**
Try this:

[code]

[2015-09-25 18:12] #6 closed, assigned to arcanedev-maroc

[2015-09-26 00:54] marekstodolny commented on #6
Yeah, everything is working now.

[2015-10-06 10:41] arcanedev-maroc opened #8 "Language navbar not working if hideDefaultLocaleInURL is true"
https://github.com/mcamara/laravel-localization/issues/192
https://github.com/mcamara/laravel-localization/issues/219

[2015-10-08 08:21] quelo83 opened #9 "Problem with resource route and group prefix"
Hi, I've found an error when I set a prefix to a localized route. It can not find the route. I think this error has to do with this issue [#5](https://github.com/ARCANEDEV/Localization/issues/5)

This is my routes.php:

[code]

and my blade page:

[code]

Although the route works and the index page is loaded (http://localhost/en/admin/users), it throws this error:

[code]

My route list is:

[code

[2015-10-08 08:55] Fanan90 commented on #9
Maybe we had the same problem, try my solution:
https://github.com/ARCANEDEV/Localization/issues/5

[2015-10-08 09:06] quelo83 commented on #9
There is no problem with resource routes. Everything works perfect, except when you put those resource routes inside a route group with a prefix, so I think this is a little bit different.
However, thanks for your advice!

[2015-10-08 11:02] arcanedev-maroc commented on #9
Yep that's why i never used the `Route::resource()` because they add things from the previous groups (like prefixes and routes names).

[2015-10-08 11:10] quelo83 commented on #9
I find resource routes very useful because they are self-explained and they also make very easy the routing through the site. Anyhow, isn't there a fix for this?

[2015-10-08 11:20] arcanedev-maroc commented on #9
Ok, i'm going to test your case and try to find a fix.

About the resource routes, see [my comments on Laracasts](https://laracasts.com/discuss/channels/laravel/route-groups-inside-a-resource?page=1#reply-104432).

[2015-10-08 13:03] arcanedev-maroc commented on #9
@quelo83 @Fanan90 I've fixed the issue.

Update the package to `0.6.1` and let me know if fixed your issue.

Both of you of course :+1:

[2015-10-08 13:49] quelo83 commented on #9
It works perfectly! Thank you very much!

[2015-10-08 13:50] arcanedev-maroc commented on #9
You're welcome :+1:

[2015-10-08 13:50] #9 closed, assigned to arcanedev-maroc

[2015-10-20 20:54] ovvessem opened #10 "Getting localized urls for nested route groups not working beyond first level of depth"
I have an issue where I cannot get nested route groups translated beyond the first level of depth when using the language switcher:

[code]

The first route within the localizedGroup does the job, but the one in the group doest first not translate the group prefix and second does not translate the route name when I want to switch the language.

The languages/[lang]/routes.php files looks like this

[2015-10-20 21:01] arcanedev-maroc commented on #10
https://github.com/mcamara/laravel-localization/issues/163#issuecomment-149700696

[2015-10-20 21:07] ovvessem commented on #10
@arcanedev-maroc First of all thanks for your quick replies. I will test the above tomorrow and let you know if it solves the situation.

[2015-10-20 21:08] arcanedev-maroc commented on #10
Ok :+1:

[2015-10-20 21:21] arcanedev-maroc commented on #10
In your `routes.php` for each locale, try this:

[code]

And replace `'routes.webhosting'` by `'routes.webhosting.prefix'` like this :

[code]

[2015-10-20 21:24] ovvessem commented on #10
I have changed the routes.php like so:

[code]

I have the following route definition:

[code]

When I change from language 'nl' to 'en' the dumps show the correct value but the language switcher url does not fetch the correct translation on time.

Changed $supportedLocales to localization()->getSupportedLocales() in the navbar.blade.php to make it work.

[code]

I hope I am clear enough if not pl

[2015-10-21 15:18] arcanedev-maroc commented on #10
I've just test your case and i found this:

You need to avoid the `trans('routes.webhosting.prefix')` in route group, because it's outside the package scope.

So the solution is:

[code]

And your routes:

[code]

And for the navigation bar, you only need to echo out the `Localization::localesNavbar()` (you can undo the `navbar.blade.php` modifications).

I don't know if it's a great solution or n

[2015-10-21 15:20] #10 closed, assigned to arcanedev-maroc

[2015-10-31 11:35] carlituxman opened #11 "translated routes after setSupportedLocales"
If use setSupportedLocales with new languages that not are in 'supported-locales' config the translated routes not work, all of possible new langs should be in supported-locales

[2015-10-31 16:03] arcanedev-maroc commented on #11
Where did you use the `setSupportedLocales()` method ??

You need to call it before registering the routes.

[2015-10-31 16:24] carlituxman commented on #11
in a middleware that load the langs, to change/add from a control panel
El 31/10/2015 17:03, "ARCANEDEV" notifications@github.com escribió:

[2015-10-31 16:48] arcanedev-maroc commented on #11
OK, as you can see, the middleware is to check/filter/other logic based on routes/requests.

So, you need to do you change/add logic about langs before that (**before registering the Localization translated routes**).

Try to put your logic inside a service provider like the [RouteServiceProvider](https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L25).

Hope thi

[2015-11-01 14:01] #11 closed, assigned to arcanedev-maroc

[2015-11-03 17:29] carlituxman opened #12 "Locales selector menu sample"
Can you put a sample of a locales selector menu?

[2015-11-03 17:30] carlituxman commented on #12
sorry is the localesNavbar function

[2015-11-03 17:30] #12 closed, assigned to nobody

[2015-11-03 17:41] arcanedev-maroc commented on #12
Yes, the [Localization::localesNavbar()](https://github.com/ARCANEDEV/Localization/blob/master/src/Localization.php#L401) method.

[2015-11-06 20:00] carlituxman opened #13 "translated routes with parameters in blade?"
How can I use translated routes in blade with parameters?

[2015-11-06 20:06] arcanedev-maroc commented on #13
Did you checked the docs about translated parameters ?

https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#events

Please, give me an example what you want to achieve.

[2015-11-06 20:20] arcanedev-maroc commented on #13
Or you want to render translated links ?

[2015-11-06 20:23] carlituxman commented on #13
I want render in blade
El 6/11/2015 21:20, "ARCANEDEV" notifications@github.com escribió:

[2015-11-06 20:35] arcanedev-maroc commented on #13
You need to require this package : https://github.com/ARCANEDEV/LaravelHtml

To install, run this command :

[code]

After the installation, you need to register this package by editing the `config/app.php` file:

[code]

Now you can render the translated links by their route names:

[code]

You can do the same thing with [LaravelCollective/html](https://github.com/LaravelCollective/html) package.

[2015-11-06 21:10] carlituxman commented on #13
Can I have problems with HTML of Illuminate package??
El 6/11/2015 21:35, "ARCANEDEV" notifications@github.com escribió:

[2015-11-06 21:17] arcanedev-maroc commented on #13
What is your laravel version ? The `illuminate/html` is not maintained anymore.

[2015-11-06 23:05] carlituxman commented on #13
5.1
El 6/11/2015 22:17, "ARCANEDEV" notifications@github.com escribió:

[2015-11-07 09:52] carlituxman commented on #13
I change to laravelcollective

2015-11-07 0:04 GMT+01:00 Carlos Jiménez Mora carlos@informatik.es:

##

_Carlos Jiménez Mora_
_INFORMATIK SOLUCIONES_
Tlf: 950 42 62 68 - Serón (Almería)
@carlituxman https://twitter.com/carlituxman - carlos@informatik.es

_Este mensaje y sus anexos pueden contener información confidencial, por lo
que se informa de que su uso no autorizado está prohibido por la ley.

[2015-11-07 10:21] carlituxman commented on #13
I'm trying with LaravelCollective but how I should put the route translatable?

if translatable route is: routes.view and use:

{!! Html::linkRoute('routes.view', 'Translated title', ['parameter-1']) !!}

not work

I need to use with translatable routes with parameteres

[2015-11-07 16:18] arcanedev-maroc commented on #13
If you want to use linkRoute() correctly, you need to specify the route names in your routes:

[code]

As you can see in the last route, the `routes.view` is not the route name but its the translation key for the URL, the route name is in the key `as` = `pages.show`.

[code]

Check also : https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#translated-routes

[2015-11-07 19:36] carlituxman commented on #13
great!!!
El 7/11/2015 17:18, "ARCANEDEV" notifications@github.com escribió:

[2015-11-07 19:46] #13 closed, assigned to arcanedev-maroc

[2015-11-10 15:04] ppalella opened #14 "Route::resource not translate url"
I need to translate my entirely url and try with `Route::resource('routes.users', 'UsersController');` but return 404 page :(

My routes.php file:

[code]

Results:
en/welcome **work**
es/bienvenido **work**
en/users **fail**
es/usuarios **fail**

Try change line `Route::resource('routes.users', 'UsersController');` to `Route::resource('users', 'UsersController');`
en/users **work**
es/usuarios **

[2015-11-10 15:06] arcanedev-maroc commented on #14
The `Route::resource()` is not in **Localization** package scope.

As you can see there is no `Route::transResource`, and the `routes.users` is not going to be translated.

Try to be explicit with your routes and use the `transGet`, `transPost`, `transDelete` ... methods, that will fix your problem.

Check : https://github.com/ARCANEDEV/Localization/issues/9

[2015-11-10 15:25] ppalella commented on #14
Do you plan to add this feature (`Route::transResource`) to the next commit?

[2015-11-10 15:46] arcanedev-maroc commented on #14
I don't know :confused: , and to be honest with you, it's not a good idea.

The `Route::resource` may unintentionally take precedence over your supplemental routes.

And `Route::resource` + The **Localization** package = Nightmare.

_If you want my advise_, try to be explicit with your routes. It's like you're drawing paths (roads/routes) to your controllers.

[2015-11-10 15:50] ppalella commented on #14
Ok, I understand... I will change my code. Thanks a lot!

[2015-11-10 15:50] arcanedev-maroc commented on #14
You're welcome :+1:

[2015-11-10 15:50] #14 closed, assigned to nobody

[2015-11-16 09:55] carlituxman opened #15 "hide-default-in-url changing default locale?"
Is possible use hide-default-in-url set to true but can change de default locale without changing it at app.locale ?

[2015-11-16 14:41] arcanedev-maroc commented on #15
No, i don't think so, because the default locale is the `app.locale` and it's for your whole app/packages, you can't have two default locales.

Try to use the `app.fallback_locale` as a secondary locale.

[2015-11-16 15:00] carlituxman commented on #15
I don't want use two default locales, I want change it and when it's
changed then hide-default-in-url do it with the new default locale
El 16/11/2015 15:41, "ARCANEDEV" notifications@github.com escribió:

[2015-11-16 15:10] arcanedev-maroc commented on #15
OK, i see what you want to do.

You need to change the default locale before using the `LocalizationServiceProvider` and its services.

The perfect place is using a service provider like `AppServiceProvider` or creating a custom one and place the `LocalizationServiceProvider` after that in your `app.providers` config.

[2015-11-16 17:44] carlituxman commented on #15
Do it!, I use in a provider, but I was doing setSupportedLocales() before
to change de seLocale.

now, it works!

2015-11-16 16:10 GMT+01:00 ARCANEDEV notifications@github.com:

##

_Carlos Jiménez Mora_
_INFORMATIK SOLUCIONES_
Tlf: 950 42 62 68 - Serón (Almería)
@carlituxman https://twitter.com/carlituxman - carlos@informatik.es

_Este mensaje y sus anexos pueden contener información confidencial

[2015-11-16 18:03] arcanedev-maroc commented on #15
Cool :+1:

[2015-11-16 18:03] #15 closed, assigned to nobody

[2015-11-17 10:33] carlituxman opened #16 "composer update error"
I'm using App::setlocale at provider, but then with composer update, crash:

Arcanedev\Localization\Exceptions\UnsupportedLocaleException]
  Laravel default locale [] is not in the `supported-locales` array.

I need quit App:setLocale to use composer, but I need do it for my use of the app.

[2015-11-17 11:02] carlituxman commented on #16
solved!

[2015-11-17 11:02] #16 closed, assigned to nobody

[2015-11-27 05:27] swimlappy opened #17 "Use with cviebrock/eloquent-sluggable"
Hello,
I'm having some trouble using this package with https://github.com/cviebrock/eloquent-sluggable.  If I turn on slugged URLs with localization, I get a NotFoundHttpException visiting that slugged URL.  If I turn off the localization, slugged URLs works fine.

Has anyone successfully done slugging with this localization package?  What were you doing?

Thanks

[2015-11-27 06:00] arcanedev-maroc commented on #17
Hi @swimlappy,

Honestly, i've never used the `cviebrock/eloquent-sluggable` package, so i've no idea what's your issue.
Can you provide us some code / config / example for test purposes to replicate your issue.

[2015-11-27 13:41] swimlappy commented on #17
Sure.  Both packages work fine by themselves using the defaults.  There isn't much to the app yet though.

[code]

In this setup, I can visit `/en/users/1` or `/pt-BR/users/1` and localization works.  If I try and visit `/en/users/my-test-user` or `/pt-BR/users/my-test-user`, then I get a `NotFoundHttpException` exception thrown.  If I comment out the `Arcanedev\Localization\LocalizationServicePro

[2015-11-27 14:13] arcanedev-maroc commented on #17
You're welcome Jay,

You can try this for the time being:

Update your `routes.php` from:

[code]

To :

[code]

It's more cleaner and based on your `localization.php` config file.

Check also the installation steps and especially this: https://github.com/ARCANEDEV/Localization/wiki/2.-Installation-and-Setup#now-you-need-to-update-your-http-kernel-to-use-the-localization-router

And i'm afraid tha

[2015-11-27 14:18] swimlappy commented on #17
My `app/Http/kernel.php` file did have the proper use statement, left it out of my previous post.  Sorry about that.  I've updated my `routes.php` file with the cleaner group, thank you for that.  The `Cviebrock\EloquentSluggable\SluggableRouter::class` allows me to use route model binding and route resource with the slug URL.  I suppose I could explicitly define my routes, but for this table just

[2015-11-27 14:40] arcanedev-maroc commented on #17
Ok i see.

You can try this, go to your `app/Providers/RouteServiceProvider.php` and add this inside the `boot()` method:

[code]

Now you can completely remove the :

[code]

**i've just copied the content out of it** :laughing: .

For more details, check the docs : http://laravel.com/docs/5.1/routing#route-model-binding

Check also the namespace of the `User` model class, it's `App` with capital

[2015-11-27 14:56] swimlappy commented on #17
Tinkering with it to get this working.  Would I need to do this for every model I want to do route model binding with?  Seems like a lot of code to add, when I could normally accomplish it with just 1 line.

[2015-11-27 15:10] arcanedev-maroc commented on #17
Nope, this is only to test and solve your issue, this is how it's gonna be (Something like that) :

[code]

**Important:**
- If the `$router->model()` is not working properly try `$router->bind()`, check [SluggableRouter](https://github.com/cviebrock/eloquent-sluggable/blob/master/src/SluggableRouter.php#L25).
- I have not test it in a laravel application, i've probably miss a semicolon or somethi

[2015-11-27 15:17] swimlappy commented on #17
Fair enough, I can test for sure. Implementing this at least I don't get any errors :-)  But I don't get any data from my model either.  Just blank when I visit the slug URL. Hmm

[2015-11-27 15:23] arcanedev-maroc commented on #17
As i've said before, i've never used the `cviebrock/eloquent-sluggable` package, so i'm probably missing something.

But we are close to fix your issue ( ^_^)b

[2015-11-27 15:33] swimlappy commented on #17
I understand.  I think we are close too.

[2015-11-27 15:43] swimlappy commented on #17
Well, some good news. Looks like that worked.  I had to add a use statement at the top of my `RouteServiceProvider.php` file for `use Cviebrock\EloquentSluggable\SluggableInterface;` so that this check would pass

[code]

It was returning NULL and thus no data. Thank you for the help!  Perhaps this will help someone else looking to do the same thing.

Jay

[2015-11-27 15:49] arcanedev-maroc commented on #17
Nice :+1:

[2015-11-27 15:49] #17 closed, assigned to arcanedev-maroc

[2015-12-12 07:35] ndberg opened #19 "Navbar issue with the route bindings"
I could try out your package as I said.

I like some stuff that you cleaned a bit up from `mcamara/laravel-localization` like the `transGet`, `transPost` and also the `localizedGroup`.

But my main Problem still exists.. but a bit different. If I use model binding with named parameter, the localsNavbar returns the Hole Model Object Data in the URL:

[code]

**EDIT :**
But the translation of the Ro

[2015-12-12 07:59] ndberg commented on #19
If I do it like this:

[code]

It works.. but it's very unpractically for a language switcher to deliver a variable name.

[2015-12-12 10:41] ndberg opened #20 "transPost Bug"
Hi

It looks like there is a bug in transPost:

I have a form:

[code]

`resources/lang/de/routes.php`:

[code]

And in my `/http/routes.php`:

[code]

What happens:
- it does not call the `FirmaController@update` method **->but it should**
- it does call the `FirmaController@profile` method **->but it shouldn't**

**EDIT :**
The `FirmaController@profile` is called from the `transPost` and not fro

[2015-12-12 10:57] arcanedev-maroc commented on #19
Hi @JimLfe, thanks for your feedback.

Of course i'm going to fix that. :smile:

I'm going to check and test the `Localization::localesNavbar()` and `Localization::getLocalizedURL()` behaviors with the route model bindings.

Stay tuned.

**Related :** https://github.com/mcamara/laravel-localization/issues/268

[2015-12-12 11:29] arcanedev-maroc commented on #20
You need to specify a locale in your form `action` url.

Like this:

[code]

[2015-12-12 12:24] arcanedev-maroc commented on #19
**After reading the code (From github repo, i'm far away from my workstation for the time being, i need to test this in real laravel project).**

So, i found this:

The `RouteTranslator` class use attributes stored in route collection by using `$this->request()->route()->parameters()`, so i need to check if the attributes is a simple array (`attribute-key` => `attribute-value`) or an object (Eloqu

[2015-12-13 18:45] arcanedev-maroc commented on #19
I've a good news for you @JimLfe,

I fixed the issue by adding a new contract (`RouteBindable` interface) to tell the `Url` Utility class to use the correct value for the route wildcard.

Now you need to make a few changes:

**1st :** Update the `arcanedev/localization` package to the latest version `>= 0.6.5`.

**2nd :** Implement the new interface to your model (Or any bindable class in routes),

[2015-12-13 18:47] #19 closed, assigned to arcanedev-maroc

[2015-12-14 10:56] ndberg commented on #19
Thanks, this works great. I like the way you fixed it with the interface.

[2015-12-14 14:31] ndberg commented on #20
Thanks

[2015-12-14 14:31] #20 closed, assigned to nobody

[2015-12-14 15:19] arcanedev-maroc commented on #19
You're welcome :+1:

[2015-12-14 19:15] arcanedev-maroc commented on #20
Hi @JimLfe, why didn't use the `route()` method like this ?

[code]

[code]

It's more clean and efficient like this.

[2015-12-15 08:03] ndberg commented on #20
Hm Yes, thats a good idea... Didn't think about that.

[2015-12-18 20:48] arcanedev-maroc commented on #4
I'm going to close this issue because nobody is complaining about it.

[2015-12-18 20:48] #4 closed, assigned to arcanedev-maroc

[2015-12-23 06:51] ndberg opened #22 "Laravel 5.2 support"
I've tested if the package already works with Laravel 5.2, unfortunatelly it's not. I get the exception:

[2015-12-23 07:39] mkwsra commented on #22
@arcanedev-maroc Please, upgrade this package to meet 5.2 :sweat_smile:
:+1: Thansk jim for testing and pointing this out, I'm going to use it within couple days :yum:

[2015-12-23 10:03] ndberg commented on #22
See also https://github.com/mcamara/laravel-localization/issues/272

[2015-12-23 15:35] arcanedev-maroc commented on #22
@JimLfe @mkwsra

I'm working on it (See PR #23) :+1:

[2015-12-23 16:12] arcanedev-maroc commented on #22
Done, the **Localization** package support **Laravel 5.2**.

Update the `arcanedev/localization` version to `>= 0.7`.

[2015-12-23 16:12] #22 closed, assigned to arcanedev-maroc

[2015-12-23 22:10] mkwsra commented on #22
@arcanedev-maroc  you are super :heart_eyes:

[2015-12-23 22:14] arcanedev-maroc commented on #22
You're welcome :satisfied:

[2015-12-28 19:14] luckyp70 opened #24 "Issue with middlewares under Laravel 5.2"
The provided Router class does not preserve middleware groups as defined in Kernel.php.
For instance, following middleware group definitions are simply ignored:

[code]

resulting in web or api class not found error while processing routes that include such middleware groups.

It seems that the approach to extend default Router needs to be reviewed in Laravel 5.2 (http://blog.lanin.me/extending-de

[2015-12-28 20:00] arcanedev-maroc commented on #24
Thanks @luckyp70, i'm going to check this.

BTW, feel free to make a pull request if you solved it.

[2015-12-29 18:52] arcanedev-maroc commented on #24
Fixed, thanks for your feedback. :+1:

[2015-12-29 18:52] #24 closed, assigned to arcanedev-maroc

[2016-01-08 10:46] #8 closed, assigned to arcanedev-maroc

[2016-01-13 14:49] jartaud opened #27 "Language switcher and parameter translation."
Hello,
Say I have http://local.dev/category-slug, when i switch the language, I have http://local.dev/fr/category-slug. How can I grab the correct category translation from the DB so when i change the language, I can get something like http://local.dev/fr/categorie-slug or http://local.dev/es/categoria-slug?

[code]

[2016-01-13 17:15] arcanedev-maroc commented on #27
Hi @jartaud, thanks for using this package.

BTW good question, did you checked [this section about the events](https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#events) ?

[2016-01-13 19:35] jartaud commented on #27
@arcanedev-maroc, thanks for your help.
Yeah i was playing with it, but i'm not quite sure i understand this part:

[code]

How to transform this into `eloquent->toArray()` ?
Will i still have to use `Route::transGet()` ?

[2016-01-13 20:02] arcanedev-maroc commented on #27
You're welcome @jartaud,

In your case, you need to replace this dummy code:

[code]

By using a custom helper or directly by using an eloquent model.

As you can see, the event listener gives you three arguments (`$locale`,`$route` & `$attributes`).

So you can do something like this:

[code]

**The main goal is to translate the `$attributes` argument.**

And YES, you need to use the `Route::tran

[2016-01-13 23:08] jartaud commented on #27
What's the route name in this piece of code ??

Do you have any real example combining the switcher with routes.translation event ?

[code]

[2016-01-13 23:44] arcanedev-maroc commented on #27
This is a full example how to use it:

[code]

Localization:

[code]

And register the event listener:

[code]

And also make sure that **localized-routes** and **translation-redirect** are enabled.

And if you're not sure what is the current route in the event listener, you just `dd($route)` to see what is your route name of a specific url.

If you want to understand how its done behind scene, ch

[2016-01-14 01:44] jartaud commented on #27
Thank you so much dude!

[2016-01-14 01:44] vuongdinhngoc opened #28 "Localization facade not found"
It hasn't done automatically. I need to register it in config/app.php and it works fine.
P/S: I am using Laravel 5.2

[2016-01-14 02:06] arcanedev-maroc commented on #27
You're welcome :+1:

[2016-01-14 02:08] arcanedev-maroc commented on #28
OK thanks, i'm going to check this tomorrow.

[2016-01-14 06:53] arcanedev-maroc commented on #28
You're right, the facade wasn't registered auto-magically.

I fixed this issue. Thanks again :+1:

**Bonus:** You can registered it manually if you want. Or using the `localization()` helper.

[2016-01-14 07:12] #28 closed, assigned to arcanedev-maroc

[2016-01-14 13:37] ghost opened #30 "Session not persisting on Route::transGet routes."
Hi,

I'm working on a multilingual webshop in Laravel 5.2.

Products are added to the cart with an AJAX POST request.

Localization and translated routes are working fine. Love the package!

However when using Route::transGet my session is not persisting. The session and CSRF token are regenerated on each request and I get TokenMismatchException on the AJAX requests.

When I comment out all Route:

[2016-01-14 17:13] jartaud commented on #27
In order to use event translation with Eloquent, I use an Artisan Command to create an array of translations: https://gist.github.com/jartaud/195d050304892df51542

What do you think?

[2016-01-14 17:58] arcanedev-maroc commented on #27
Great work @jartaud, but it's a little bit complicated in my opinion.

Don't do the same thing what i've done in the event listener, my example is just a dummy code for demonstration.

I'm sure you can do better than this (without artisan command), try to create a custom Helper like `ModelTranslator` to translate your models dynamically instead of generating a file (you can also use the caching sy

[2016-01-14 18:05] #27 closed, assigned to arcanedev-maroc

[2016-01-14 18:33] arcanedev-maroc commented on #30
I've just tried your case and it works perfectly for me (Of course i uncomment the `Route::transGet()` routes).

I can't reproduce your issue, i think you've an issue related to laravel or something.

Try to pass the csrf token to your ajax request and see if it's gonna solve your issue:

[code]

[2016-01-14 18:33] #30 closed, assigned to arcanedev-maroc

[2016-01-14 18:34] arcanedev-maroc opened #31 "Localization v1.0.0"
## TODO

  - [x] Refactoring/Renaming the contracts (interfaces).
  - [ ] Adding more regionals for locales.
  - [ ] Complete the documentation.

## GOALS

  - [ ] 100% Code coverage + Maximum code quality.

## Suggestions
- [ ] Adding the attributes translator (Helper / Trait) ??
- [ ] Extending the Locale Entity Class (https://github.com/ARCANEDEV/Localization/issues/49).

**NOTE :** Feel free t

[2016-01-14 18:43] jartaud commented on #27
Thanks again. I've been fooled by a slow homestead on Windows. Yeah i'll refactor

Great package :100:

[2016-01-30 22:16] llioor opened #32 "Problem with getLocales()"
I'm doing this in my locales middleware:
`Localization::setSupportedLocales(['en', 'fr']);
`
but when I'm doing this in my controller:

[code]

I'm getting this: **en,fr,es**

My model extends Model and use \Dimsav\Translatable\Translatable

Any idea why
Localization::getSupportedLocales();
is correct  but
MYMODEL::getLocales()
is **NOT** correct?

[2016-01-31 13:51] m7ammad7assan commented on #22
it is don't save local in session

[2016-01-31 16:32] arcanedev-maroc commented on #32
Hi @llioor, your issue is not related to this package.

Try to check the [dimsav/laravel-translatable](https://github.com/dimsav/laravel-translatable) package and see how to change the model locales.

[2016-01-31 16:32] #32 closed, assigned to nobody

[2016-01-31 18:34] llioor commented on #32
Hi, Thank you for your answer...

But only in your package I have "**set**SupportedLocales". This is one of the advantage we have in your packages isn't?

I solve it by adding locales middleware with this code:

[code]

This code is running for every request... any other ideas?
Don't you think setSupportedLocales need to change the config as well?

[2016-01-31 18:55] arcanedev-maroc commented on #32
Yes, this code is running for every request because you put it in a middleware.

And i don't see what you mean by changing the config file ??

You can use the Config Facade `Config::set('translatable.locales', $user->locales);`.
or the config helper `config()->set('translatable.locales', $user->locales);`.

**NOTE:** keep in mind that the two packages are working separately.

[2016-02-01 18:27] llioor commented on #32
You meant "dimsav/laravel-translatable" and "ARCANEDEV/Localization" are working separately? So Yes I know and this is what creates the confusion for me.

Can you help me please:
1. If I want to set the supported locales dynamically what is the best way to do it?
Is `Localization::setSupportedLocales(['en','es','fr'])`its enough for it?
2. If I want to set the current locale to fr, is `Localizatio

[2016-02-01 19:13] arcanedev-maroc commented on #32
Hi @llioor,

Yes, **"dimsav/laravel-translatable"** and **"ARCANEDEV/Localization"** are working separately.
1. Yes, the `Localization::setSupportedLocales(['en','es','fr'])` is enough.
2. If you call for example the `Localization::setLocale('fr');`, it's enough to set the app locale, so you don't have to call the `App::setLocale('fr');`.
3. I can't help you with the `dimsav/laravel-translatable`

[2016-02-01 22:46] llioor commented on #32
Thank you very much @arcanedev-maroc! perfect answer!

[2016-02-23 05:22] rojermaharjan opened #33 "Extending a class"
I need to extend your a class in your entities folder called Locale.php.

How do I go about doing that?

[2016-02-23 08:09] arcanedev-maroc commented on #33
Hi @rojermaharjan,

Can you explain what you want to achieve by extending the Locale Entity class ?

[2016-02-27 18:09] #33 closed, assigned to nobody

[2016-03-21 22:19] ghost opened #34 "help pls"
hello, i dont understand this can anyone help me

this is my routes file

[code]

so when i change my language to NL or TR it works fine in homepage, but when i click to **/login** it redirects me to the default locale **/en/login**
so how do i make sure it stays to the selected language ?

[2016-03-21 22:43] arcanedev-maroc commented on #34
Try to change the order and see if it's gonna resolve your issue:

[code]

[2016-03-21 22:45] ghost commented on #34
Thanks it works :)

[2016-03-22 00:54] ghost commented on #34
hmm now i cant login when i try to login it refresh the page instead

[2016-03-22 01:09] arcanedev-maroc commented on #34
Did you defined the post route for login ?

[2016-03-22 01:33] ghost commented on #34
yes i have working admin panel but when i use `Route::localizedGroup` i cant login to my dashboard.

[2016-03-22 01:38] arcanedev-maroc commented on #34
What is the real issue ? you can't post the credentials ? did you get any errors ?

Do you need a localized admin panel ? Try to put all the auth & admin routes outside the `Route::localizedGroup()`.

Please give more details to identify the issue.

[2016-03-22 01:46] ghost commented on #34
Well when i try to login to my site its just redirecting back to the login page without any errors.

[2016-03-22 01:58] arcanedev-maroc commented on #34
The page doesn't refresh, it's a 302 redirection when you hit submit (caused by `redirect()->back()` i think).

**EDIT :**
Can you debug this and see what happen : https://github.com/laravel/framework/blob/5.2/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php#L57-L86

Try to check if the `Route::localizedGroup()` affects all the post forms or only the login form.

[2016-03-22 02:13] ghost commented on #34
I have put all the auth routes outside the `Route::localizedGroup()` now its working.

[2016-03-22 02:26] arcanedev-maroc commented on #34
Glad that you've solved your issue, i'm going to clean this discussion to keep your work "private".

Thanks for using the package :+1:

[2016-03-22 02:27] ghost commented on #34
Thank you for making our development easier.

[2016-03-22 02:27] #34 closed, assigned to nobody

[2016-04-18 13:26] vince749 opened #37 "Access level to Arcanedev\Localization\LocalizationServiceProvider::publishConfig() must be protected"
Hi,

When i "composer update" :
[...]
- Removing arcanedev/support (3.7.5)
- Installing arcanedev/support (3.8.0)
  [...]

I have this error :
[...]
PHP Fatal error:  Access level to Arcanedev\Localization\LocalizationServiceProvider::publishConfig() must be protected (as in class Arcanedev\Support\PackageServiceProvider) or weaker in /Users/vince/Sites/projects/dujour/menu/vendor/arcanedev/locali

[2016-04-18 13:32] vince749 commented on #37
Ok, i waiting for updating package ;-)

with this : https://github.com/ARCANEDEV/Localization/pull/36

[2016-04-18 13:36] arcanedev-maroc commented on #37
Sorry about that @vince749
Fixed: #38

[2016-04-18 13:36] #37 closed, assigned to arcanedev-maroc

[2016-04-18 14:09] arcanedev-maroc commented on #37
Hi @vince749, try to update your localization package to `0.7.5` and see if it solves your issue.

[2016-04-18 14:14] vince749 commented on #37
@arcanedev-maroc Yes! It's perfect ! Thanks

[2016-04-18 14:15] arcanedev-maroc commented on #37
You're welcome :+1:

[2016-04-23 13:41] aketai opened #39 "Route::auth() validation issue!!!"
Validation not work in localizedGroup:

[code]

Please help to fix this issue!
Laravel Framework version 5.2.30
php artisan make:auth
Thank you

[2016-04-23 17:19] arcanedev-maroc commented on #39
Can you give us more details about your issue ?

Check also this closed issue: #34

[2016-04-23 18:04] aketai commented on #39
Very simple step by step:
1) Fresh installation laravel version 5.2.30
2) php artisan make:auth
3) "arcanedev/localization": "0.7.*" - composer update etc...
all works perfect

But auth validation not working  if i place `Route::auth();` in

[code]

If place `Route::auth();` outside of `localizedGroup` - validation is work!

Please help

[2016-04-27 02:36] shanka12 opened #40 "Undefined variable: supportedLocales"
followed your configuration and used following code for menu

[code]

I am getting following error. anyone can help me to fix this? I want to display language switcher

`Undefined variable: supportedLocales`

[2016-04-27 07:00] arcanedev-maroc commented on #40
Of course, you didn't pass the `$supportedLocales` variable to your custom navbar view.

Try to use `{{ Localization::localesNavbar() }}`.instead ([See this method](https://github.com/ARCANEDEV/Localization/blob/master/src/Localization.php#L401)).

[2016-04-27 07:04] #40 closed, assigned to arcanedev-maroc

[2016-04-27 08:29] shanka12 commented on #40
Thank you @arcanedev-maroc

[2016-04-27 11:56] shanka12 opened #41 "change different css, images when switch language"
Is there any way to change css, image when we switch the language?

[2016-04-28 05:43] #41 closed, assigned to nobody

[2016-04-28 11:27] shanka12 opened #42 "hide-url for all language"
I use en and es language
Is it possible to hide both url for both url? I know can hide default language from config file.

[2016-04-29 08:34] arcanedev-maroc commented on #42
No you can't hide multiple locales with this package.

IMO, you need to keep the locales visible because it's good for SEO.

[2016-04-29 08:34] #42 closed, assigned to nobody

[2016-04-30 17:34] aketai commented on #39
Hi arcanadev,

Any news regarding my issue?

[2016-04-30 18:22] arcanedev-maroc commented on #39
Hi @aketai,

Sorry but i need some time to test it in a laravel project and debug it.

For the time being, you can extract the `Route::auth()` outside of `Route::localizedGroup()` if it's urgent.

[2016-05-06 11:24] ianbarker opened #43 "User selected language"
I'd like to display a choice of languages when a user first visits my site and then redirect the user to their chosen language and store the choice in a cookie so that they don't get asked again on subsequent visits. However I can't work out how to do this, any help would be much appreciated.

[2016-05-06 15:47] arcanedev-maroc commented on #43
Are you already using this package or just a new project ?

This package offers all the features you mentioned above, just read the documentation (installation, configuration and usage sections).

Check also [these issues for answers](https://github.com/ARCANEDEV/Localization/issues?q=is%3Aissue+label%3Aquestion).
- You can start by editing [these middlewares](https://github.com/ARCANEDEV/Localiza

[2016-05-07 22:59] #43 closed, assigned to arcanedev-maroc

[2016-05-09 08:07] ianbarker commented on #43
Hi, sorry for not replying earlier.

I am already using the project and have the two config values set to `true`. The main problem that I have is getting the app to know if the user has selected a language or if it was automatically determined or the default is being used, this is the point at which I'd like to display the various options to the user.

Thanks

[2016-05-09 17:44] arcanedev-maroc commented on #43
OK, i see what you want to achieve and it's going to be a little hard to do it.

This package doesn't track the user interactions with the locales (no events or whatsoever), so you need to add your logic manually.

**1st solution:** Override/Extend the classes, you can start with [middlewares](https://github.com/ARCANEDEV/Localization/tree/master/src/Middleware), you can even create your own class

[2016-05-10 10:14] ianbarker commented on #43
Thanks. I thought that might be the case but that it made sense to ask first.

I'll try the events route as I like pub/sub pattern.

[2016-06-08 08:09] Krato opened #44 "Persistent Locale"
Hi, i just install this package. But I'm a little confused.

I have `config/app.php` with:

[code]

And `config/localization.php`as:

[code]

I have and admin panel without routes translates. And In my views if I call `dump(\App::getLocale())`, allways get `en` never`es`. But `es` is the default language. If I call `dump(\App::getLocale())` in `routes.php` file shows `es`.

But If I call `Localiza

[2016-06-08 18:41] arcanedev-maroc commented on #44
Honestly, i can't see what is exactly your issue (and i can't reproduce it).

But, if you want to force the locale (Single locale for the admin panel), set a default locale inside a constructor of your Base Admin Controller and extend it to your Controllers (Use the `Localization::setLocale()` method).

Or use the `Localization::getCurrentLocale()` instead of `App::getLocale()`.

[2016-06-09 10:39] Krato commented on #44
Sure, I can use `Localization::getCurrentLocale()`. But the problem is that APP load lang files using `App::getLocale()`. So I need to fix it.

[2016-06-11 05:47] idubz33 opened #45 "getLocalizedUrl returns only default lang url when artisan route:cache run"
E.g. `\Localization::getLocalizedUrl('de', route('about'))` will produce an English (my app's default language) url instead of the proper `transRoute` url due to Laravel 5's route caching. If I `artisan route:clear` everything works as normal. A major dilemma is without route caching my app will run too slow for production, on the other hand with cache my app will run faster but the urls will be w

[2016-06-11 12:08] paper9oll opened #46 "[Question] - Locales config variables"
Hi Arcanedev,

Is it possible to forgo `locales` variables (`'script'` & `'dir'`) located in `config/localization.php`?

The reason i'm asking this is because my website uses Country-based routes instead of Language-based routes like `/us` instead of `/en`.

[2016-06-11 18:55] arcanedev-maroc commented on #46
You can leave the `script` and `dir` empty.

You can also add a custom locale (`us`) inside the [locales](https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L34) array.

[2016-06-11 18:59] arcanedev-maroc commented on #45
I don't think it's going to work if you use the `route:cache`.

The routes are kinda dynamic for every locales (translated routes), if you want to cache the routes, you need to duplicate the routes for each locales.

[2016-06-12 03:37] paper9oll commented on #46
@arcanedev-maroc Okay i tried but an error popup out below is the code i use

[code]

It would work if i add in `'script'` and `'dir'` like below

[code]

Hence i would like to know why i need to put `'script'` and `'dir'`?

[2016-06-12 13:35] arcanedev-maroc commented on #46
Because the `script` and `dir` are [required](https://github.com/ARCANEDEV/Localization/blob/master/src/Entities/Locale.php#L82-L83) to create the Locale entity.

[2016-06-12 13:42] paper9oll commented on #46
@arcanedev-maroc oh i see. thanks you

[2016-06-12 13:42] #46 closed, assigned to arcanedev-maroc

[2016-06-12 18:22] #45 closed, assigned to nobody

[2016-06-17 21:13] f-liva opened #48 "Method localizedGroup does not exist."
Hello,

I'm trying this package from mcamara/laravel-localization, but I get the error in the subject of this issue.

I registered the provider and the kernel trait, what I'm wrong?

[2016-06-18 00:40] arcanedev-maroc commented on #48
What's your issue ??

Try to check [how to use the translated routes](https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#translated-routes).

You can also [find your answer here](https://github.com/ARCANEDEV/Localization/issues?q=is%3Aissue+is%3Aclosed+label%3Aquestion)

[2016-06-18 07:22] f-liva commented on #48
Opps! This is the error:

[code]

It seems the **Route::localizedGroup** isn't registered, but the service provider is it.

And [here are the logs](https://github.com/ARCANEDEV/Localization/files/321636/log.pdf)

[2016-06-18 11:01] arcanedev-maroc commented on #48
Can you debug the router and see if it's a `Arcanedev\Localization\Routing\Router` object ?

[2016-06-19 10:30] f-liva commented on #48
Yes, is a instance of `Arcanedev\Localization\Routing\Router`.

I use PHP 7, if need.

[2016-06-19 10:45] arcanedev-maroc commented on #48
OK, try to add this at the first line of your `routes.php` file to make sure it's a `Arcanedev\Localization\Routing\Router`.

[code]

https://github.com/ARCANEDEV/Localization/blob/master/src/Routing/Router.php#L59

[2016-06-19 10:50] f-liva commented on #48
Results in "Arcanedev\Localization\Routing\Router"

[2016-06-19 10:57] arcanedev-maroc commented on #48
I think the problem came from the `Route` Facade.

Can you show me the `providers` inside the app config file ?

[2016-06-19 11:10] f-liva commented on #48
Sure

[code]

[2016-06-19 11:19] arcanedev-maroc commented on #48
Try to order the providers like this and see what you get:

[code]

[2016-06-19 13:03] f-liva commented on #48
Same error as before

[2016-06-19 16:22] arcanedev-maroc commented on #48
OK, the last advise that i could give you is to use this package with a new installation.

Sorry, i want to help you but i can't reproduce it.

[2016-06-20 07:07] f-liva commented on #48
Commenting `Backpack\LangFileManager\LangFileManagerServiceProvider` works

[2016-06-20 11:14] #48 closed, assigned to arcanedev-maroc

[2016-06-20 23:30] arcanedev-maroc commented on #48
Hi @fede91it,

If you found a solution about your issue, please tell us how you solved it to help other users.

[2016-06-21 06:17] f-liva commented on #48
For now, I disabled the conflictual package, but I've another problem with your package translating the parameters of my URLs, but I'll open a new issue for that.

[2016-06-21 20:19] seb-jean opened #49 "Extending a class Locale.php"
I need to extend your a class in your entities folder called Locale.php for add parameter config.

How do I go about doing that?

Thanks :)

I would like have

[code]

instead of

[code]

[2016-06-21 20:28] arcanedev-maroc commented on #49
Hi @sebastienjean76, thanks for using this package.

When you say extending the `Locale` Entity class, you mean removing a parameter like `regional` or adding new one ??

Can you give me an example to see what you want to achieve ?

[2016-06-21 20:34] seb-jean commented on #49
Hello :)

I would like add new parameter.

It's for add locale datepicker for my project and so it's different according the language.

[2016-06-21 20:39] arcanedev-maroc commented on #49
OK, i see what you want to achieve.

The fast/optimal solution for this is by using a config file like this (Single responsibility principle thing):

[code]

And access it like this `config('datepicker.' . Localization::getLocale())`.

I'm going to think about it and find an eloquent way to extend the `Locale` entity.

[2016-06-21 20:41] seb-jean commented on #49
Ok thanks. I try this way ;).

[2016-06-21 20:50] seb-jean commented on #49
It's `config('datepicker.' . Localization::getCurrentLocale())` instead of `config('datepicker.' . Localization::getLocale())`

[2016-06-21 20:55] arcanedev-maroc commented on #49
My bad :stuck_out_tongue_closed_eyes:

[2016-06-21 20:55] #49 closed, assigned to arcanedev-maroc

[2016-07-20 08:30] ghost commented on #39
came across this today. quite easy to get around actually, you just need to manually define your auth routes rather than using the helper and then update the auth views.

[code]

Then in your auth view you can do something like

[code]

[2016-07-20 08:54] arcanedev-maroc commented on #39
Yeah, this is what i do in all my projects (avoiding the `Route::auth()` method).

Thanks @digitalturtle for clarifying it.

[2016-07-20 08:54] #39 closed, assigned to arcanedev-maroc

[2016-07-21 19:28] JorgeAnzola opened #51 "Translated routes redirect"
I'm in a weird situation. I hope someone can help me.

Only the translated routes in es/routes.php gets redirected.

_//// productos means products in spanish_

**Behaviour:**
_// with locale == es_
project.dev/productos -> project.dev/es/productos
project.dev/products -> 404

_// with locale == en_
project.dev/productos -> project.dev/en/products
project.dev/products -> 404

**es/routes.php**
`re

[2016-07-21 20:35] arcanedev-maroc commented on #51
Can you also enable the middleware `localized-routes` and see if it's solves your issue ?

Check also [the documentation about the translated routes](https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#translated-routes).

[2016-07-21 23:37] JorgeAnzola commented on #51
Still nothing. My current 'locale' and 'fallback_locale' are both 'es' (in config/app.php). If I change it to 'en', the problem goes the other way, just en/routes.php gets redirected.

Also, I added

`'locales' => [
        'es' => 'Spanish',
        'en' => 'English'
    ],`
to the config/app.php file. And nothing.

Any ideas?

[2016-07-22 13:38] arcanedev-maroc commented on #51
About the last change, instead of:

[code]

use your `localization.php` config file to set your [supported locales](https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L8).

[2016-07-22 13:46] JorgeAnzola commented on #51
Yeah, of course. That last change was just an addition. Just me trying to make it work.

In my localization.php file is
`'supported-locales'      => ['en', 'es'],`

[2016-07-22 13:58] arcanedev-maroc commented on #51
OK, now i just need time to try your case with a new laravel installation, try to reproduce/debug your case and see what is the issue.

If you found the solution, please share it with us to help others.

[2016-07-23 14:23] JorgeAnzola commented on #51
Yeah, of course, I'd continue trying things. Although I'm really starting at Laravel, I'm pretty noob. I've made a new repo, here is the code if it helps you. https://github.com/JorgeAnzola/another

(Sorry if my code is too messy or noobie. I'm practicing)

[2016-08-03 14:23] filipveschool commented on #51
@JorgeAnzola why dont you use the `Route::localizedGroup()` ? Maybe this fixes it. Because I also use this package and when I go back to the previous page i have zero problems.

https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md

[2016-08-22 03:52] gitllermopalafox opened #54 "Problem calling translation form other source different to resources/lang (Modular app)"
Hi!,

I'm developing a modular Laravel app, in each module I have controllers, views, translations and routes. Your package works perfect in each isolated routes.php file. The problem is when I try to translate a route, for example:

[code]

At this point seems to be the 'transGet' function can't localize the translation.

In my views I implement the 'trans' helper this way, without any problem...

[2016-08-22 04:15] arcanedev-maroc commented on #54
Can you show me the `providers` list in you `config/app.php` ?

**UPDATE**

Can you try this `ModuleServiceProvider` :

[code]

[2016-08-22 05:53] gitllermopalafox commented on #54
Thanks @arcanedev-maroc

I just tested and It works like a charm

Reading your code, I see the route caching was the problem. I forgot all about that code block. 😞

Thanks a lot.

[2016-08-22 12:07] #54 closed, assigned to arcanedev-maroc

[2016-08-22 15:13] arcanedev-maroc commented on #54
Hi @gitllermopalafox, glad that helps you.

BTW, i think the cleanest way to create a modular app is by using service providers (like laravel packages).

Something like this:

[code]

And in your base `ModuleServiceProvider`:

[code]

[2016-08-23 03:28] gitllermopalafox commented on #54
@arcanedev-maroc thanks for the advice. You're right, a service provider per module makes each module more flexible and portable.

That's a good idea for a laravel package.

A small fix on how to register the service providers of the modules.

[code]

Thanks for your great help! 😄

[2016-08-23 04:52] gitllermopalafox opened #55 "PHP version"
Hi,

Since your package is supporting from Laravel 5.0.x, could you consider to reduce the php version to >=5.4 in the composer.json requirements?

Thanks.

[2016-08-23 16:01] arcanedev-maroc commented on #55
The reason for not supporting PHP 5.4 because it reached the "End of life", you can [check this page for more details](http://php.net/supported-versions.php).

Late this year, we are going to drop the PHP 5.5 version.

[2016-08-25 14:58] #55 closed, assigned to arcanedev-maroc

[2016-09-02 15:23] ghost commented on #39
@arcanedev-maroc can you give an example of what your routes setup looks like for the password reset auth routes? i'm having issues getting this to work with the /password/reset/{token?} route

[2016-09-02 16:18] ghost opened #58 "Localised Url Parameter Makes view unable to render"
When providing an option path parameter in my localized password reset route, it makes the route unable to render.

In my `routes.php` have:

[code]

In my `en/routes.php` file i have

[code]

When I go to the url `en/password/reset`, the expected view renders fine. However when I visit `en/password/reset/sometoken` the view just doesn't render and instead just seems to dump and array like `['toke

[2016-09-02 19:12] arcanedev-maroc commented on #58
OK, this is what i've done with a new Laravel 5.2 installation.
- First, install and configure the localization package.
- For the routes:

[code]
- After that, you edit your views to use the route names instead of urls (route names FTW):

[code]

[code]

[code]

[code]

[code]

This is what i do if i want to use auth stuff with localization.

And it's up to you if you want to translate the route

[2016-09-02 19:14] arcanedev-maroc commented on #39
The example for auth routes is here: #58

[2016-09-02 19:25] ghost commented on #58
Yeah i am using named routes. I think what you have there is effectively the same as what I have. Does what you have above work with `Route::transGet()`? Specifically the `password/reset/{token?}` route:

[code]

This route for me only works if {token?} is not provided i.e. it only works if you go to `/en/password/reset` and not `/en/password/reset/2o3nro23nroi2n3`

[2016-09-02 19:33] arcanedev-maroc commented on #58
This is an example of `Route::transGet()`:

[code]

[code]

[code]

And voila !!!

The `/en/password/reset` and `/en/password/reset/1234567890` urls works fine for me.

The `{token?}` is optional, if you provide it manualy without sending a email, it's not going to work (You gonna see this `This password reset token is invalid.` - DUH!).

[2016-09-02 19:51] #58 closed, assigned to arcanedev-maroc

[2016-09-02 19:51] #51 closed, assigned to arcanedev-maroc

[2016-09-02 19:55] ghost commented on #58
hmm i don't see that message, i just get some weird output on the screen that looks like an odd json response. I have generated teh email properly with a valid token but it still just dumps a random json to the screen. it doesnt seem to actually be matching the route. did the above work for you when you tried with transGet?

[2016-09-02 19:55] ghost commented on #58
<img width="612" alt="screen shot 2016-09-02 at 21 56 19" src="https://cloud.githubusercontent.com/assets/10285472/18216608/1c911c48-7158-11e6-8d6e-159b10219f4a.png">

This is what the screen looks like when i attempt to access the password route with a token supplied

[2016-09-02 19:58] arcanedev-maroc commented on #58
Are you sure didn't change any stuff in the `vendor` folder ? like `AuthController` ??

I think you forget a `dd()` somewhere in your code.

[2016-09-02 20:03] ghost commented on #58
you're right. it was a random dd() left in a provider in the codebase that was listening to the 'routes.translation' event!!! thanks a lot for your help

[2016-09-02 20:04] arcanedev-maroc commented on #58
You're welcome 👍

[2016-09-15 12:33] thusfar7 opened #59 "Translation doesnt persist?"
So I have two locales: en and hr.

I have to routes files. One in /app/Http/routes.php

and other one in /vendor/laravel/spark/src/Htpp/routes.php (assigns routes to $router variable)

Now when I got to /dashboard which is defined in original Laravel routes.php like this

[code]

and then it takes me to /en/dashboard or /hr/dasdashboard. That's great. And there I switch to /en/dashboard

Then I go

[2016-09-15 12:48] arcanedev-maroc commented on #59
What is your default locale inside 'app.locale' ?

Can you use this route for 'settings' instead and see if it solves your issue :

[code]

Honestly, i never used spark and i don't know if it's gonna effect your localization or not.

**UPDATE:**
- Witch laravel version do you have ?
- Can you check also that the routes file (with dashboard & others ...) is grouped with `web` middleware?

[2016-09-16 16:01] #59 closed, assigned to arcanedev-maroc

[2016-09-17 10:58] thusfar7 commented on #59
I move web middleware before Localization middlewares. It seems that solved the problem. I guess when web middleware is set after localization middlewares, localization doesnt persist.

I dont know if that is general problem or just in my case, but it is worth mentioning.

[2016-09-17 13:12] #44 closed, assigned to arcanedev-maroc

[2016-09-22 14:36] moopa opened #60 "App::getLocale() is incorrect as is getCurrentLocale outside of Route::localizedGroup"
I found a similar issue here:
https://github.com/ARCANEDEV/Localization/issues/44

Even if I switch to `Localization::getCurrentLocale()` it always defaults to the default language of the site if the middleware is not used on some routes. This was a problem with the original https://github.com/mcamara/laravel-localization package which is why I tried yours.

To be clear, as long as the routes are

[2016-09-22 15:28] arcanedev-maroc commented on #60
Hi @moopa, thanks for using this package 👍 .

When you say:

I think this is the excepted behavior because it's in the localization scope.

For you custom setup, you can use `App::setLocale()` & `App::getLocale()` to manipulate your default language, and if you used session middleware for the localization you can retrieve the selected locale via a [session helper](https://github.com/ARCANEDEV/Loca

[2016-09-22 15:36] moopa commented on #60
Thanks for the reply. I have been playing around with the code.
It looks to me that `setLocale` is called everywhere and is set as null when not in `localizedGroup`
As an example, if I have routes outside of `localizedGroup` and I dump the $locale here it is null:

[code]

Even if I attempt to call this method myself with a locale, it is set as null. It would be really helpful if we could set the

[2016-09-22 15:57] arcanedev-maroc commented on #60
Laravel need to load all the routes, it will eventually run `Route::localizedGroup()` on every request.

**Note:** This is Localization's `setLocale()` and not `App::setLocale()`.

And this is why `$locale` is null (when loading the routes) : https://github.com/ARCANEDEV/Localization/blob/master/src/Routing/Router.php#L61

Can you tell me what you want to achieve (a sample code is better) to under

[2016-09-22 18:42] moopa commented on #60
Thanks for your continued quick responses.

Ok. Our website has a shop area that sits behind some additional order middleware. It has various ajax routes and also a third party payment page that requires us to send back links to our site (e.g. payment complete, payment failed urls. I was hoping to avoid localising any of the ordering routes to avoid potential issues. It is also entirely gated so S

[2016-09-23 16:15] arcanedev-maroc commented on #60
OK, i don't know where to start but i'm going to give you a simple example to reproduce your app logic.

This is your locale selector:

[code]

And this is your `LanguageController` (Just an example):

[code]

As you can see, i put the routes outside the `Route::localizedGroup()`, so you need to create your own localization system by using sessions.

Why using sessions ? because each request refre

[2016-09-25 20:27] #60 closed, assigned to arcanedev-maroc

[2016-09-26 15:31] moopa commented on #60
I ended up just using the locale session var in a helper as you suggested when outside of the localizedGroup scope. I also put most of the site in the localizedgroup with the one exception of Socialite / Facebook where I had to use the helper methods to return to the correct page. Thanks for the support. Everything is working great.

[2016-09-26 16:30] arcanedev-maroc commented on #60
You're welcome 👍

[2016-09-27 22:21] ionutVizitiu commented on #19
Hi @arcanedev-maroc ,

Would you help me please in a similar situation?
I'm using your package for the first time and I didn't manage to connect the dots after reading your comments.

`routes.php` :

[code]

`lang/en/routes.php` :

[code]

`lang/fr/routes.php` :

[code]

What I want to know is how to get the `slug` translation.
- Expected:
  From `/fr/services/cours-privés-ou-en-groupe` to `/en/se

[2016-09-27 23:43] arcanedev-maroc commented on #19
Hi @ionutVizitiu,

There is another way to translate your `wildcards`, check the [events section](https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#events).

Check this issue: https://github.com/ARCANEDEV/Localization/issues/27#issuecomment-171473588

BTW, your issue is unrelated to this one 😄.

Bonne chance 👍

[2016-09-28 06:14] ionutVizitiu commented on #19
Thank you very much!

[2016-10-04 11:19] thusfar7 opened #61 "Auth Login POST (with wrong credentials) redirects to home?"
I localized all Auth routes.

When I go to Login and enter wrong credentials and submit it, I get redirected to home route? Any ideas or suggestion to why this might be happening?

[code]

[2016-10-04 16:00] arcanedev-maroc commented on #61
Can you check these issues first : #39 & #34

Check also this: https://github.com/ARCANEDEV/Localization/issues/58#issuecomment-244463420

[2016-10-04 18:34] thusfar7 commented on #61
Okay so. As you can see my routes are properly defined.

Moving POST routes outside Localization group doesnt help.

Basically what happens is that "Login POST" redirects me to "home" route and from there to localized home route.

[2016-10-04 21:45] arcanedev-maroc commented on #61
OK, can you tell me the Laravel version you're using ?

How did you register this routes ? with a `RouteServiceProvider` like [this example](https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L54-L59) ?

This is the proper way to register localized route:

[code]

Make sure you're using route names in your form's action to avoid redirections while posting a form,

[2016-10-04 22:04] thusfar7 commented on #61
I use 5.2. My auth routes look the same as in #58 as well as login view. Still it doesnt work.

[2016-10-04 22:17] arcanedev-maroc commented on #61
So you're using this:

[code]

instead of this:

[code]

Did you tried to debug your `LoginController` and especially the `login` method ([see here](https://github.com/laravel/framework/blob/5.2/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php#L57-L86)) ?

Did you changed the base code of `\Illuminate\Foundation\Auth\AuthenticatesUsers` Trait ?

Try to check each line like `validateLogin()`,

[2016-10-07 18:17] #61 closed, assigned to arcanedev-maroc

[2016-10-14 15:27] zangarmarsh opened #62 "Localization disables POST requests"
I have a strange problem.
I placed my routes in the localization group but it disabled every POST request. I tried moving them out from the group and they actually work. Since I haven't read this problem so far in the internet, I'm asking here for help.

[2016-10-14 16:11] arcanedev-maroc commented on #62
Can you check these issues : #39, #34, #61

Check also this: https://github.com/ARCANEDEV/Localization/issues/58#issuecomment-244463420

[2016-10-15 00:59] #62 closed, assigned to arcanedev-maroc

[2016-10-25 20:14] thusfar7 opened #63 "Set locale based on country?"
I use cloudflare. They provide visitor's country code.

What would be the best way to make sure that the visitor is set to locale that matches his country?

[2016-10-26 15:03] arcanedev-maroc commented on #63
First of all you need to specify the supported locales for your application: https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L8

You need to check if cloudflare provides compatible locales that are mentioned in `locales` (the locales codes are the keys): https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L34-L2135

And the process is simple,

[2016-10-27 18:46] #63 closed, assigned to arcanedev-maroc

[2016-10-28 07:14] ndberg opened #64 "Performance"
Currently I have about 25 translated routes in my routes file. Since that, the performance got very worse. If I use route:cache the performance would be good, but then the translated routes would not work.

Perhaps it's something different, or does anybody of you guys have the same issue?

[2016-10-28 08:38] maorkavod opened #65 "localization not saved between pages."
Hi,

I am using your package for my Laravel application localization,
i follow each step in the docs, everything looks great except one issue :
when i redirect to my site like this :

www.mysite.com/fr

Im getting my site in FR like i expected. but when i click on some link inside the page, im getting back the the fallback lang, "en".
its not keeping the selected local between redirect of pages.
-

[2016-10-28 08:48] arcanedev-maroc commented on #64
This feature (cached localized routes) doesn't exist yet because it's a little bit tricky.

Because it need to cache the translated routes with all supported locales.

For example: if you have 25 translated routes and 3 supported locales [EN, ES, FR], you're going to have 75 routes in your cache.

[2016-10-28 08:50] ndberg commented on #64
Yes I know.. but do you have this performance troubles too?

[2016-10-28 09:08] arcanedev-maroc commented on #65
Try this route group instead:

[code]

If you're using Laravel `5.2` or `5.3`, the `web` middleware is already included in [RouteServiceProvider](https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L54-L59).

First, try to visit `www.mysite.com/fr`. After that, access the url without the locale `www.mysite.com`.

For the urls, try to use the `route()` method with

[2016-10-28 09:15] arcanedev-maroc commented on #64
I don't have a performance issue with this package.

This is one of my multi language websites: http://red-tic.com/

You need to have a good server like a VPS with SSD.

Try also to optimize your app on production by running this commands:

[code]

[2016-10-28 09:18] maorkavod commented on #65
i try that, still the same result, this is my current code :

[code]

is this ok?

[2016-10-28 09:22] arcanedev-maroc commented on #65
Is that laravel `5.2` ?

Try this example: https://github.com/ARCANEDEV/Localization/issues/58#issuecomment-244463420

[2016-10-28 09:24] maorkavod commented on #65
I am using Laravel 5.3

from composer :

"laravel/framework": "5.3.*",

[2016-10-28 09:41] arcanedev-maroc commented on #65
Why your routes is in `app/Http/routes.php` ?

[2016-10-28 10:06] maorkavod commented on #65
This is where it was when i download the Laravel framework before a year ago, 5.2
i did the upgrade to 5.3 before 2 months , works great no issues.

you think that this cause the problem?
where this file should be located at?

[2016-10-28 10:37] arcanedev-maroc commented on #65
This is the new routes file for web: https://github.com/laravel/laravel/blob/master/routes/web.php

Try to follow this upgrade guide: https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0

[2016-10-28 12:45] #64 closed, assigned to arcanedev-maroc

[2016-10-29 07:22] maorkavod commented on #65
I finish this section upgrade,
my system is still working with all the routes like before.
the problem still exist.

there is a flag in the package to make it work in debug mode?

[2016-10-29 13:01] maorkavod commented on #65
[code]

config :

[code]

[2016-10-29 15:55] #65 closed, assigned to arcanedev-maroc

[2016-11-08 15:26] karolisbarkauskas opened #66 "Can this package translate models?"
Can this package translate models?

[2016-11-08 16:02] arcanedev-maroc commented on #66
You can use this package to translate your models by using [model accessors](https://laravel.com/docs/5.3/eloquent-mutators#defining-an-accessor).

**Edit :** Check also these packages
https://github.com/dimsav/laravel-translatable
https://github.com/spatie/laravel-translatable

[2016-11-09 10:42] maorkavod opened #67 "Laravel 5.3 Validation localized Massages - Shows Only default (en)"
Hi.
i have Laravel 5.3 application with `ARCANEDEV/Localization` pack, work greate so far! :)
i have right now an issue with the validation massages.

this is my Routes:

[code]

in the lang file i have this  (`/resources/lang/en/validation.php`):

[code]

in the blade template i have this :

[code]

* the problem is that i have the translation for this captcha attribute, in more 2 languages.
no m

[2016-11-09 10:54] arcanedev-maroc commented on #67
@maorkavod, are you getting all validation errors in `en` or only for the captcha ?

Which package you're using for captcha ?

You're not forgetting the translation of your captcha in other lang (instead of en) ?

like `/resources/lang/fr/validation.php`:

[code]

[2016-11-09 10:57] maorkavod commented on #67
No, i have this code in all the other languages, the same code block different text
its regarding all the errors massages, not just that one.
this was just for this example.

"arcanedev/localization": "0.8.*"

[2016-11-09 11:00] arcanedev-maroc commented on #67
Can you put this code in your view and see what you get:

[code]

[2016-11-09 11:03] maorkavod commented on #67
[code]

[2016-11-09 11:06] arcanedev-maroc commented on #67
Can you show me your validator (with rules)?

[2016-11-09 11:18] arcanedev-maroc commented on #67
@maorkavod Have you the translations `he` folder in your app ?

[code]

Check this repo: https://github.com/caouecs/Laravel-lang/tree/master/src/he

[2016-11-09 11:38] maorkavod commented on #67
I Have made some changes bu still the same outcome,

`/app/Http/Controllers/Auth/RegisterController.php`

[code]

regarding the translations folder, sure i have :

![image](https://cloud.githubusercontent.com/assets/6458359/20137195/d00dbe30-a681-11e6-9afe-65fc802f7121.png)

[2016-11-09 11:50] arcanedev-maroc commented on #67
OK, so you tell me that the only field that hasn't be translated is the captcha (g-recaptcha-response) field ?

The username, email, password fields are translated with no issue ?

Check the `/resources/lang/he/validation.php`:

[code]

[2016-11-09 11:53] maorkavod commented on #67
regarding https://github.com/caouecs/Laravel-lang

awesome repo!!
thanks, save me a lot of time :)

to your question , no..
in all the rules of validation i m getting only the English, im guessing its because i set the fallback to "en".
if i writ different validation message for all the languages for some input , im getting only the English type.
no metter which language the site is.

[2016-11-09 12:06] arcanedev-maroc commented on #67
The issue is caused by the translator inside the Validator class.

If you do this you're going to see the problem is:

[code]

[2016-11-09 12:27] maorkavod commented on #67
i found out why,
i have an issue with the Auth::routes(); and the Localization.
the issue was that  i had this code :

[code]

the problem was that the register post, and login post, didnt work, they return to the same page, and there was no error. so i think that maybe this because the  Auth routes post methods was inside the
localization middleware, if i remove it from there the pages register &

[2016-11-09 12:34] arcanedev-maroc commented on #67
This is a tested solution that i use for all my projects (last test was with laravel 5.2 and i think it will works with 5.3).

Check this: https://github.com/ARCANEDEV/Localization/issues/58#issuecomment-244463420

[2016-11-09 12:45] maorkavod commented on #67
Im using Laravel 5.3 so i hade to change the controller path & name :

[code]

still the GET method of register was worked fine and localized , but the POST method make a redirect the the previews page with no error anywhere..

i can fix this by passing the current local as input to the register post and reset in the validation function    the local, but i prefer to fix the problem it self.

[2016-11-09 12:49] arcanedev-maroc commented on #67
You need to change also the form actions by using the `route()` helper like this:

[code]

This way you're gonna avoid the redirection because you're gonna specify the locale in your form's action with the route() helper instead of unlocalized url .

Check also the views in my comment.

[2016-11-09 13:12] #66 closed, assigned to arcanedev-maroc

[2016-11-09 13:28] maorkavod commented on #67
Thank you very much! :+1:
its working now!

[2016-11-09 13:36] #67 closed, assigned to arcanedev-maroc

[2016-11-26 01:20] mtx-z opened #68 "Question against mcamara package"
Hey there !
I found your package from a macmara Github issue, so i would like to ask you few things to know if your package encounter the same problem that i have with Macmara's one (wich is still really great).

- I got the same problem as [here](https://github.com/mcamara/laravel-localization/issues/268), idk if it's due to model binding, but some URL works (language switcher correctly change th

[2016-11-26 01:48] arcanedev-maroc commented on #68
When you say model binding, are you using model `id` or `slug` as a parameter ?

[2016-11-26 12:16] mtx-z commented on #68
Hi, thanks for answering (that fast!).
I think it'll be easier with an example.

Lets say i have 2 language: **FR** (french), and **EN** (english) wich is default.` Hide default language` is disabled, `AcceptHeaderLang `is enbaled (i'm still on Macmara's package). Default language is **EN**.

First, i got a static page content like (**WORKING**):
- `http://domain.com/en/myPageEn` for **EN**
- `htt

[2016-11-26 12:51] arcanedev-maroc commented on #68
So the problem is when you use the language switcher with `getLocalizedURL()`, i'm right ?

And not while submitting the form (The best way to avoid the redirection while submitting the form is by using route names like this `action="{{ route('name.of.the.route') }}"`).

The remaining thing that i need to check is the language switcher with the usage of `getLocalizedURL()` (i think this is your ma

[2016-11-26 15:43] mtx-z commented on #68
That is fully exact.
All my problems are coming from `getLocalizedURL()` wich I use for language switcher and <head> alternate URLs.
The form submit is not the problem, as as you said, i use `action="{{ route('name.of.the.route') }}"`, the controller then redirect user to the correct URL, depending its actual lang.
But once on the result page, the language switcher (`getLocalizedURL()`) output wro

[2016-11-26 20:19] arcanedev-maroc commented on #68
I think my package gonna works for you but you need to be aware how to tweak it.

Here is an [example](https://github.com/ARCANEDEV/Localization/blob/master/resources/views/navbar.blade.php#L2-L8) of using `getLocalizedURL()` method.

And you have two methods to achieve your goal:

[code]

And you can also use a special method like:

[code]

You can start using my package if you want. If you have

[2016-11-26 23:20] mtx-z commented on #68
Thanks a lot !
So, in your package, you updated the Macmara getLocalizedURL() method ? Is your package from a Macmara's fork ?
Already using the ARCANEDEV logviewer, pretty cool :)

EDIT: just checked `withlocalizeURL()` from Macmara and result is the same. [This issue](https://github.com/mcamara/laravel-localization/issues/290) seems to be related, or exactly mine.

[2016-11-27 13:46] arcanedev-maroc commented on #68
The package was based on Macmara's package (not a fork only similar logics and features) but i've rewritten/refactoring/testing/fixing a lot of code (+better code quality & code coverage).

[![scrutinizer-ci](https://img.shields.io/scrutinizer/g/ARCANEDEV/Localization.svg?style=flat-square)](https://scrutinizer-ci.com/g/ARCANEDEV/Localization/?branch=master) [![scrutinizer-ci](https://img.shields.

[2016-11-27 19:36] mtx-z commented on #68
The issue you linked seems to be like mine. The URL translation work on the first level, but when it need more it doesnt.
I'll try your package on a clean project to see how it goes, and i keep you in touch :)

thx !

[2016-11-28 13:23] mtx-z commented on #68
Just found out something with Macmara's package :
- If i dont use any route::group with a localized prefix, it work. I mean, i have to put the **entire route path** in my route translation file.

Here is an example where language switcher **DONT WORK**:

[code]

[code]

Here is an example where language switcher **WORK**:

[code]

[code]

So, when i don't use any route prefix, and put the **entire

[2016-11-28 14:25] arcanedev-maroc commented on #68
Cool, glad you've fixed your issue.

I think this is what i've said in [my previous comment](https://github.com/ARCANEDEV/Localization/issues/10#issuecomment-149929259).

To organize the translations properly, try this (like REST 😉):

[code]

Bonne continuation 👍

[2016-11-28 14:25] #68 closed, assigned to arcanedev-maroc

[2016-11-28 16:14] mtx-z commented on #68
Yep you're right !
One last thing (just for you to know), i just tested `getLocalizedURL()` and `getURLFromRouteNameTranslated()` with some `$attributes` _array_ in each.
My aim is to override for a particular page the language selector, as URL contain some DB stored slug value (slug is translated also). So i want to pass the right localized slug as attribute. But both method dont work, and the ou

[2016-11-28 16:39] arcanedev-maroc commented on #68
You're welcome @mtx-z 👍

You can translate even the attributes like `slug` with [localization's event](https://github.com/ARCANEDEV/Localization/blob/master/_docs/4-Usage.md#events).

Check this previous issue: https://github.com/ARCANEDEV/Localization/issues/27#issuecomment-171473588

[2016-12-05 14:50] loranger opened #69 "View are translated on the second load"
Hello,

I (supposely) setup Localization as it should be, but I can't figure out why my view refuses to be translated on the first load.
When I click on the (out-of-the-box) navbar, my url change, my debug output in my `welcome.blade.php`

[code]

shows the correct language code, but my view does not change. I have to reload the page one in order to have the correctly translated page.

I can't und

[2016-12-05 16:34] arcanedev-maroc commented on #69
Hi,

When you say the views aren't translated on the first load, you mean that the `trans()` method doesn't work properly ?

Try to debug this:

[code]

Also i need to see your setup (config, routes, views...) to reproduce your issue.

[2016-12-06 09:08] loranger commented on #69
Hi,

Thanks for your reply.
I realize I didn't tell you, but I'm using Laravel 5.3.

Yes, that's exactly the problem :

With your debug, the last one is stuck on the previous language code.

In order to try to fix, I simplified my setup as I could, here it is

`config/app.php`
[code]

My Kernel.php uses the Trait
[code]

My `config/localization.php` file is almost by default
[code]

And my routes

[2016-12-06 13:38] arcanedev-maroc commented on #69
Hi @loranger,

I just tested your setup with laravel 5.3 and it works for me.

Can you check that `Arcanedev\Localization\LocalizationServiceProvider::class` is between the service providers like this and see if it solves your issue:

[code]

[2016-12-06 14:36] loranger commented on #69
Thank you for your support.

Actually, I already tried with a brand new fresh Laravel 5.3 install and it worked perfectly for me, too.

While I was verifying the ServiceProvider position (which is already in the middle, between the Laravel service providers and the Application service providers), I also comment all the other Package service providers... And found the issue comes from a conflict wi

[2016-12-06 15:27] arcanedev-maroc commented on #69
Can you try this workaround and see if it fix your issue:

[code]

[2016-12-06 15:46] loranger commented on #69
I'm afraid the result is the same 😞

Did you try to install the other package within the fresh Laravel 5.3 test you had ?

[2016-12-06 16:20] arcanedev-maroc commented on #69
I tested the other package and i think it broke the translation logic.

See this: https://github.com/vsch/laravel-translation-manager/issues/55

So the solution is to add `'use_cookies' => false,` in your `laravel-translation-manager.php` config file and see if it solves your issue.

PS: Tu me dois un café.

[2016-12-06 16:30] loranger commented on #69
It definitely works !

Thank you so much for your support, I would have create the issue if you told me, thanks for this, too.

PS : Avec plaisir ;)

[2016-12-06 16:32] #69 closed, assigned to arcanedev-maroc

[2016-12-08 11:32] hamzstramgram opened #70 "Resource routes not working when the package is active"
Hello,

For some reason when the package is loaded in my config/app.php all my **_resources_** route aren't working anymore.

My routes are in a Route::group and I don't need this group of routes to be translated:

_routes/web.php_
[code]

_routes/Backend/Compound.php_

[code]

When I comment this function in _Arcanedev\Localization\Routing\Router.php_, my routes work again normally.

line 42
[cod

[2016-12-08 14:15] arcanedev-maroc commented on #70
Hi,

This is why you've got the issue with resource routes:

* https://github.com/ARCANEDEV/Localization/issues/14
* https://github.com/ARCANEDEV/Localization/issues/9
* https://github.com/ARCANEDEV/Localization/issues/5

IMO, the best way to register the routes is to be explicit and avoid the usage of `resource` routes.

**EDIT:** Feel free to create a PR if you solved the `Route::resource()` iss

[2016-12-08 14:19] #70 closed, assigned to arcanedev-maroc

[2016-12-16 05:33] devdurbs opened #71 "Form Input errors"
Hi

My routes, html templates etc are all translating fine. However, responses to form input only appear in English.

Validating form input via Requests return validation messages in English only. e.g

[code]

Flashing response messages from the Controller back to the form appear in English only. e.g.

[code]

I'm not setting Laravel's app.locale anywhere, assuming that your lacalization takes car

[2016-12-16 16:16] arcanedev-maroc commented on #71
I've just test your case and it work fine for me (with laravel 5.1 installation).

I'm sure you forget to add the `messages.php` file into your locales folders.

### To reproduce:

##### app/Http/routes.php
[code]

##### resources/views/form.blade.php
[code]
##### resources/lang/en/messages.php
[code]
##### resources/lang/es/messages.php
[code]

##### resources/lang/fr/messages.php

[code]

[2016-12-16 16:16] #71 closed, assigned to arcanedev-maroc

[2016-12-17 13:48] devdurbs commented on #71
The messages.php and validation.php files are in the various lang
directories (en, es, fr).

It seems to me that the localization settings are not available outside
the views directory. For instance, if I dump the current language in one
of the controller e.g
\App::getLocale()
localisation()->getCurrentLocale()

it always returns the laravel default = 'en'.

Thanks
Ray

ARCANEDEV wrote:

[2016-12-17 14:55] arcanedev-maroc commented on #71
Did you installed the `arcanedev/localization` package properly ?

Are you using another package for localization (like translations package) ?

Try with a fresh laravel installation + `arcanedev/localization` package and see if you got the same issue.

[2016-12-19 13:20] devdurbs commented on #71
A fresh install of Laravel is not an option.

This has all worked before and all translations in .blade documents work
perfectly.

Both the validation and messages files have translated versions and are
in the es and fr lang directories.

No translation files called from within controllers are working and I
assume that your Localization facade is not being 'seen' inside controllers.

This line ins

[2016-12-19 20:43] arcanedev-maroc commented on #71
Sorry but i can't reproduce your issue, everything works fine for me.

[2016-12-21 10:35] pepoteloko opened #72 "Sending user to language after login"
When a user logs in my application I want to send to the desired localizated version of the app.

In Auth::Controller I have:

[code]

But I always go to spanish :( because is my browser language.

Laravel version: 5.2
Routes:

[code]

[2016-12-21 15:55] arcanedev-maroc commented on #72
Can you try this:

[code]

[2016-12-22 20:18] pepoteloko commented on #72
I tried your solution without success :(

But I have found this solution:
[code]

I do not think it's nice, but it works.
I hope my solution will help others.

Thanks for your help!

[2016-12-22 20:50] arcanedev-maroc commented on #72
Glad that you've found a solution and thanks for using the package 👍

[2016-12-22 20:50] #72 closed, assigned to arcanedev-maroc

[2016-12-23 01:56] sabina2nistor commented on #5
how did you solve this? please tell me step by step, i am having the same problem as you and i am also a beginner

[2016-12-23 14:56] arcanedev-maroc commented on #5
Are you using `Route::resource()` with localization ? Try to avoid that and using explicit routes like `Route::get()`, `Route::post()` ...

[2016-12-24 13:13] maorkavod opened #74 "https to http?"
Hello,
im using this package for my system,
i moved to ssl url , https.
there is an issue at least for me, lets say that im on the welcome page,
https://test.com/en ,
 there is a button inside this page, with href '/register'
so the site is redirected to :
https://test.com/register, but after it there is an other redirect of the package to
http://test.com/en/register with http and not keeping the

[2016-12-24 15:31] arcanedev-maroc commented on #74
I think this is related to laravel, try to check the forums like this one:
https://laracasts.com/discuss/channels/servers/force-ssl-secure-routes-in-laravel-52

[2016-12-24 15:47] maorkavod commented on #74
Thank you,
this solution worked for me :
http://stackoverflow.com/questions/28402726/laravel-5-redirect-to-https

[2016-12-24 16:04] #74 closed, assigned to arcanedev-maroc

[2017-01-09 08:16] olipiskandar opened #75 "how to use in AppServiceProvider ?"
i have trouble to use this package in AppServiceProvider.
this my code :

[code]

only showing data with locale = en..

[2017-01-09 18:37] arcanedev-maroc commented on #75
If you want to use a service provider, try to create a new one like `MenuServiceProvider` and register it after the `RouteServiceProvider`.

Put your code inside the `boot()` method.

But i recommend to use a [view composer](https://laravel.com/docs/5.3/views#view-composers).

[2017-01-13 18:49] #75 closed, assigned to arcanedev-maroc

[2017-01-20 20:36] itxp2008 opened #76 "Route::transGet and QueryString"
Hi,

Pagination not working with `Route::transGet`.

My settings:

[code]

on page `project.dev/cautari?page=2` in the language selector `localization()->getLocalizedURL($key)` returns `project.dev/en/cautari?page=2`

Without the query sting works well `project.dev/cautari` in the language selector for en is `project.dev/en/searches`

Thanks, in rest everything works well, great package

[2017-01-21 13:32] arcanedev-maroc commented on #76
What is your laravel version ?

Can you give us the pagination code you're using to reproduce your issue ?

Or you having an issue with `localization()->getLocalizedURL($key)` ?

The `getLocalizedURL` accepts 3 arguments. What does `$key` refer to in your example ?

[code]

[2017-01-21 21:10] itxp2008 commented on #76
Hi,

I'm using laravel 5.1

It's not just about pagination, it's about everywhere i use query strings.

Same issue on page `project.dev/cauta?query=text` in the language selector `localization()->getLocalizedURL($key)` returns just `project.dev/en/cauta?query=text` and not `project.dev/en/search?query=text`

Site wide the language selector is working perfectly including with translated routes. The

[2017-01-23 14:46] itxp2008 commented on #76
Hi

I'm giving you more details

Here you have `Http/routes.php`

[code]

I'm using an Event Listener for translating one city(slug = bucharest) it's the only city that has a different name in English. I don't like the 302 redirect but i didn't have a choice (if you have a cleaner/direct way to do this please leave me a hint).

Here you have `en/routes.php`

[code]

And `ro/routes.php`

[code]

No

[2017-01-23 16:01] arcanedev-maroc commented on #76
Thanks @itxp2008 for the details, i'm going to test your case and try to solve it (If i've got some free time this week).

For the time being, try to check that you don't have any conflicts with your routes (for the 404 responses), for example:

[code]

[2017-01-23 19:27] itxp2008 commented on #76
The 404 is returned because for that language in particular that route doesn't exist. I've had this route cascading before. I'm trying to convert this project in a multi-language one. That's why i'm using `'hide-default-in-url'    => true,` because i already have a structure in place in production. I'm just trying to add 'en' locale to my structure.
Thanks again.

[2017-01-29 01:40] jartaud opened #78 "Not working with L5.4. I'm getting: Class guest does not exist"
- Localization Version: 1.0
- Laravel Version: 5.4.6
- PHP Version: PHP 7.0.13-0ubuntu0.16.04.1

### Description:

[code]

### Steps To Reproduce:

`/login` or `/register`

Everything works removing your package.

[2017-01-29 10:29] arcanedev-maroc commented on #78
Thanks,

I fixed the issue: #79

Update the localization package to `>= v1.0.1`

[2017-01-29 10:41] #78 closed, assigned to arcanedev-maroc

[2017-01-29 16:33] jartaud commented on #78
Thanks a lot!

[2017-01-30 19:40] oscar1600 opened #80 "Method aliasMiddleware does not exist"
- Localization Version: 1.0.1
- Laravel Version: 5.3
- PHP Version: 5.7

### Description:

When i tried to publish config

php artisan vendor:publish --provider="Arcanedev\Localization\LocalizationServiceProvider"

appear this error

[BadMethodCallException]  Method aliasMiddleware does not exist.

### Steps To Reproduce:

1.- $ composer require arcanedev/localization
2.- set Arcanedev\Localizatio

[2017-01-30 19:43] arcanedev-maroc commented on #80
You need to lock the version with `"arcanedev/localization": "~0.8"`

The `"arcanedev/localization": "~1.0"` is for `Laravel 5.4`

[2017-01-30 19:43] #80 closed, assigned to arcanedev-maroc

[2017-01-30 19:52] arcanedev-maroc commented on #80
I'm going to add [something like](https://github.com/ARCANEDEV/Breadcrumbs/blob/master/_docs/2-Version-Compatibility.md) this to avoid any confusion about what version to use.

Thanks @oscar1600 for your feedback 👍

[2017-01-30 19:59] oscar1600 commented on #80
Thanks for your reply

[2017-02-08 08:23] devdurbs opened #81 "Localization in POST routes"
- Localization Version: current
- Laravel Version: 5.1
- PHP Version: 5.6 / 7.0

Thought this might be useful to others who find their post routes are responding in the default language only:

You either need to replace form actions using 'url::' with **named** routes 'route::'
or
remember to add localization to all form actions ie. replace

[code]

with

[code]

In retrospect I suppose it's obvio

[2017-02-08 10:39] ndberg opened #82 "False Version in Installation instruction Doku"
false advise for composer.json

[code]

[2017-02-08 12:08] arcanedev-maroc commented on #81
Thanks for sharing advises with other users 👍

TBH, i'm always using **route names** because it allows you to edit your urls in one place and avoid any conflicts (i give a unique name for each route even for `GET` and `POST` routes).

I'm going to close this because it's not an issue but you can find it by clicking these labels: `docs` or `tips`.

[2017-02-08 12:08] #81 closed, assigned to nobody

[2017-02-08 13:19] arcanedev-maroc commented on #82
**PR:** #83

[2017-02-08 13:19] #82 closed, assigned to nobody

[2017-02-09 21:13] FSAA opened #84 "Route translation in language menu won't work for nested groups"
- Localization Version: 0.8.
- Laravel Version: 5.3.
- PHP Version: 5.6.

Here is our route file. The home page url is translated correctly since it's not in the nested group, but all the others are not working

Here are the URL I'm obtaining when using the getLocalizedURL() method.

https://simulovins_v2.dev.fsaa.ulaval.ca/fr/mes-simulations/liste
https://simulovins_v2.dev.fsaa.ulaval.ca/en/mes-s

[2017-03-06 17:39] FSAA commented on #84
So is there any solution to this problem?

[2017-03-06 18:14] arcanedev-maroc commented on #84
Sorry @FSAA, i've been busy lately and i forgot to answer you.

Can you show me the translated routes in the `lang` folder ?

You can avoid the prefix group by doing something like this:

[code]

And check in your `localization` config file that the `localized-routes`, `localization-session-redirect`, `localization-redirect` are enabled.

If you have some difficulty with `getLocalizedURL` method,

[2017-03-11 10:29] melokki opened #86 "Optional route parameters"
Hi @arcanedev-maroc

I have a route with 2 parameters, but I would like to make those parameters optional. When there are no parameters I show a different view.
I can't find anything in your documentation about optional route parameters.

How can I do that?

[2017-03-11 22:55] arcanedev-maroc commented on #86
Hi @melokki,

I think your question is related to laravel framework and not to the localization package.

Can you be more specific what you want to achieve ?

Please check the laravel documentation and especially the routing section.

[2017-03-12 10:56] melokki commented on #86
Hello.
Nevermind, I figured out a solution.

[2017-03-12 10:56] #86 closed, assigned to arcanedev-maroc

[2017-03-21 19:19] karolisbarkauskas opened #88 "[AJAX] UnsupportedLocaleException"
- Localization Version: latest
- Laravel Version: 5.3
- PHP Version: 5.6 - 7.1 (can be recreated on both versions)

### Description:
Exception Class:	Arcanedev\Localization\Exceptions\UnsupportedLocaleException
Exception Message:	Locale 'get_results_count' is not in the list of supported locales.

### Steps To Reproduce:
get_results_count is ajax call

[2017-03-21 21:17] arcanedev-maroc commented on #88
The first segment in URL is the `locale`.

If you put your API (AJAX) routes inside the localized group, you need to specify the locale like this:

`http://your-site.com/en/get_results_count`

instead of

`http://your-site.com/get_results_count`

**Solution 1:** Extract your API routes outside the localized routes.
**Solution 2:** Add a locale to your ajax call like this `http://your-site.com/en/g

[2017-03-21 21:17] #88 closed, assigned to nobody

[2017-03-22 14:35] karolisbarkauskas commented on #88
Is it possible to redirect to default language if this error happens?
Because at the moment entire site stops working untill you go to proper URL

[2017-03-22 14:52] arcanedev-maroc commented on #88
The redirection works perfectly when you visit the unlocalized URL with a browser because it can handle it.

The AJAX doesn't handle the redirection.

[2017-03-22 19:52] arcanedev-maroc commented on #88
Hi @HeatedPillow, i think i've a good news for you.

I added a new feature to set ignored uri from the localization: https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L33-L40

And it's released as `v1.0.4` for Laravel `v5.4`.

if you set `ignored-uri` value like this:

[code]

You can perform your AJAX calls with these endpoints:

[code]

**KEEP IN MIND:** The localizat

[2017-03-22 20:19] karolisbarkauskas commented on #88
Any chance for Laravel 5.3 support?

Thanks for the good news :)

[2017-03-22 20:58] arcanedev-maroc commented on #88
I can't do that because the `0.8` branch is closed for any new features, only bug fixes unfortunately.

[2017-03-22 22:16] karolisbarkauskas commented on #88
Thanks, upgraded my framework to 5.4 and everything seems to be working just fine! Thanks again

[2017-03-23 06:15] Reached opened #91 "Laravel route name odd behaviour"
- Localization Version: 1.0.0
- Laravel Version: 5.4.16
- PHP Version: 7.0.0

### Description:
First of all, great package, well done!

I am observing a funny behaviour when I use  route name like so:

[code]

The url for this route is translated into this: http://mydomain.dev/en/routes.registerLandlord instead of http://mydomain.dev/en/register-landlord

The route works, but it defeats the purpos

[2017-03-23 16:36] arcanedev-maroc commented on #91
I recommend to use translation names like `routes.register-landlord` instead of `routes.registerLandlord`.

And also, check that you're not missing the routes files for each your `resource/lang/{locale}` folder.

For example:

[code]

[code]

[2017-03-23 16:49] arcanedev-maroc commented on #91
I've just tested the package with the default config and i didn't reproduce the issue.

I think you've missed the translations.

[2017-03-23 16:49] #91 closed, assigned to nobody

[2017-03-23 17:22] Reached commented on #91
Oh wow.. I guess you are completely right, I just double checked my route translations, and a string were missing. Now its working as intended! Sorry for the inconvenience, and for taking the time to help Thanks for the advice on the route names too, I guess that is a lot more readable actually :)

[2017-03-23 17:27] arcanedev-maroc commented on #91
You're welcome 👍

[2017-04-11 21:10] #84 closed, assigned to arcanedev-maroc

[2017-04-17 22:54] commercefaciletogo opened #92 "why not picking the default locale -> fr ??? always en ??"
- Localization Version: 0.8
- Laravel Version: 5.3
- PHP Version: 7

### Description:
want the url to pick app default locale which is 'fr', but it always picks the 'en'
while both default locale and fallback locale are all set to 'fr'

### Steps To Reproduce:

[2017-04-17 23:54] arcanedev-maroc commented on #92
I've just tested the package with a fresh laravel `5.3` installation and it works with `fr` as default locale on first try.

Check the documentation if you've missed any step and check any other "localization" packages that may change your default locale.

Try also `dd(config('app.locale'))` to see if you're going to get the correct value.

This is my installation:

<details>
  <summary>composer.j

[2017-04-17 23:54] #92 closed, assigned to nobody

[2017-04-28 04:43] mkwsra commented on #84
@arcanedev-maroc Buddy, this problem is since that macamara package.
I would really appreciate it if you think there is any way to prevent this odd behavior, it's only when you are on any page other then En and trying to navigate to the English page. for sure from the navbar, or let's say `getLocalizedUrl()` function.
I have an open issue there since 2015.
https://github.com/mcamara/laravel-locali

[2017-04-28 09:47] arcanedev-maroc commented on #84
Hi @mkwsra, is your issue is also related to this package `arcanedev/localization` ?

[2017-04-28 23:22] mkwsra commented on #84
@arcanedev-maroc  Yes, :)  I'm using yours for a long time.

However, yesterday I solved the routes being stuck issue
 :) I'll make a PR in a sec

[2017-04-30 04:35] cache-s opened #96 "Translated routes : No redirection with the right locale"
Hello,

I'm having troubles with translated routes. Here is what currently works:

- mysite.dev/
- mysite.dev/en/
- mysite.dev/en/home
- mysite.dev/fr/
- mysite.dev/fr/accueil           (French for 'home')

When I don't specify the locale in the URL, this also works:

- mysite.dev/accueil => redirection => mysite.dev/fr/accueil => Nice, that's what I want

But this doesn't work:

- mysite.dev/home

[2017-04-30 11:40] arcanedev-maroc commented on #96
Salut,

Are you getting a `NotFoundHttpException` = 404 ?

What you want to acheive is to **duplicate** all the `localized routes` with the number of the `supported locales`, with this setup you're going to have all the possible urls translated.

This is a little bit tricky because it's outside the package scope (Illuminate\Routing\RouteCollection @ match).

Unfortunately, this is not implemented

[2017-04-30 16:38] cache-s commented on #96
Hey, thanks for your answer.

It returned a 404 NotFoundHttpException.

By 'duplicate' you mean doing something like this ? :

[code]

With this kind of routes I end up having things like mysite.dev/en/accueil (wrong, should be localized as fr). Should I set the locale myself and redirect ?

When I dd the route collection here is what I get :

[code]

I'm having French routes instead of english on

[2017-05-01 10:57] arcanedev-maroc commented on #96
By 'duplicate', i meant when you call `Route::localizedGroup()` should register all localized routes with correct `prefix` (locale).

For example:

[code]

You will get 6 localized routes (without counting the api routes):

 * /en
 * /en/home
 * /en/about
 * /fr
 * /fr/accueil
 * /fr/a-propos

But it's not the case, and also you can't cache the routes for the time being.

Right now i don't have a

[2017-05-01 13:37] cache-s commented on #96
Hello,

Ok well, I'll stick to what I had at the beginning then. It would be a nice implementation to have by the way !

Thanks for you answers

[2017-05-01 13:37] #96 closed, assigned to nobody

[2017-05-01 13:39] arcanedev-maroc commented on #96
You're welcome et bonne chance pour la suite 👍

[2017-05-02 14:45] karolisbarkauskas opened #97 "Redirect after language change"
### Description:
Hello,

Lets say I have http://project.dev/super_link_one

I decide to change language to another and I get redirected to home page.

Can I be redirected to http://project.dev/lt/translated_link (lt -> new locale) ?

Is this supported by this package?

Thanks

[2017-05-02 14:48] arcanedev-maroc commented on #97
Yes you can.

[2017-05-02 14:49] karolisbarkauskas commented on #97
Can I see mini example of that?

Would really appreciate that!

[2017-05-02 14:57] arcanedev-maroc commented on #97
First, check the [documentation](https://github.com/ARCANEDEV/Localization/blob/master/_docs/3-Usage.md) to understand how it works and see if this is what you need in your application.

After that there are many ways to redirect from `unlocalized` url to `localized` one

[code]

Check can also check the [answered questions](https://github.com/ARCANEDEV/Localization/issues?utf8=%E2%9C%93&q=label%3

[2017-05-02 16:07] #97 closed, assigned to arcanedev-maroc

[2017-05-13 08:38] melokki commented on #92
@commercefaciletogo you should set the `accept-language-header` to false and it will work.
I had the same problem and I set the language header to false and now it jumps to my correct default locale.
give it a try

[2017-06-02 11:13] subdesign opened #98 "redirect home if no translated article added"
- Localization Version: 1.1.0
- Laravel Version: 5.4.23
- PHP Version: 7.0.19

### Description:

I have english and german articles where I use Localization, but the users do not translate all english articles to german. what is the recommended way to redirect in these cases to the german main page?

Example:
english aritcle uri:
/en/article_title/4
Language changer shows:
/de/article_title/4
On c

[2017-06-02 20:55] arcanedev-maroc commented on #98
You need to add a check logic in your controller to see if the translated content exists.

Otherwise, you can set a fallback content or redirect to homepage or display 404 page.

For the language changer, create your own language switcher with the available translated content.

For example: If the current article has translations, display the links for the other localizd content.

[2017-06-06 06:53] subdesign commented on #98
thanks

[2017-06-06 06:53] #98 closed, assigned to arcanedev-maroc

[2017-06-14 16:25] loranger opened #99 "Cannot install 1.1 with Laravel 5.4"
- Localization Version: 1.1
- Laravel Version: 5.4
- PHP Version: 7.0

### Description:

I try to install the very last version of Localization, but it fails.
It seems a dependency is not up-to-date

### Steps To Reproduce:

[code]

[2017-06-14 20:34] arcanedev-maroc commented on #99
Can you show me your `composer.json`?

Try to update any other arcanedev packages before installing `arcanedev/localization`.

[2017-06-14 22:46] #99 closed, assigned to nobody

[2017-06-15 07:39] loranger commented on #99
I see your point, the issue may comes from another package (such as laravel-translation-manager) :

[code]

[2017-06-15 08:30] arcanedev-maroc commented on #99
You need to check if the packages you're using has a Laravel `5.4` support.

Like `dimsav/laravel-translatable`, you must update it to `v7.*`. [Check this link](https://github.com/dimsav/laravel-translatable#laravel-compatibility)

[2017-06-15 15:08] loranger commented on #99
That's exactly what I was doing when I first met this issue.
I did update every version, removed composer.lock and my vendor directory.
Everything is installed flawlessly,
thank you !

[2017-07-24 11:43] quienti commented on #76
Hi!

Any news about this problem ?
I facing to this same problem ^^

Thank you

[2017-07-29 19:29] maorkavod opened #101 "default local?"
hello,

in the docs i read that the default local if not choose , is set by session cookie by the browser application local.

how can i set default local no metter what the browser local is?
set the fallback local to 'en'?

[2017-07-31 07:54] arcanedev-maroc commented on #101
You can set the default locale with `app.locale` config file.

And to disable the browser locale, try to set `localization.accept-language-header` to `false`.

[2017-08-06 16:43] jasperjorna commented on #27
How can we have the correct URL already show up inside the navbar language switcher?

Translating slugs with the Event::listen method works when actually hitting the URL, as it then redirects to the correct one. But the alternative URL's initially show up in the current language in the language switcher. `vrachtwagens` is the variable slug in this example.

[code]
The URL for English however shoul

[2017-08-16 22:53] NadhirBoukhenifra opened #102 "laravel Localization vue-router and components?"
- Localization Version: "^1.2"
- Laravel Version: 5.4.33
- PHP Version: 7.1.8-2

### Description:
how to use functions and the whole package with vue js 2 components like: this

`public function getCurrentLocaleNative()`

or this like this:

`public function getCurrentLocaleDirection()`

and im using vue-router and i want to localize my components ? and the v-router-link?
my routes/web.php file co

[2017-08-17 08:50] arcanedev-maroc commented on #102
This package is only tested with laravel projects (PHP).

I don't know how the `vue-router` works, i've never used it.

But you can grab the [current locale entity](https://github.com/ARCANEDEV/Localization/blob/master/src/Localization.php#L148-L153) instead of its properties separately (name, native, direction ...).

You can also [convert it to json](https://github.com/ARCANEDEV/Localization/blob

[2017-08-17 12:02] NadhirBoukhenifra commented on #102
Hello  @arcanedev-maroc  thank you for replying.
this is sample laravel app using vue-router:
https://github.com/fagray/vuejs2-laravel53-starter

if you have time you can install it and try your package ... so you can improve it and adding new features.

this is a basic vue-router code:

[code]
if you click the **home** the **router-view** load `Home Component` to view **without refreshing** the p

[2017-09-01 07:03] cbaconnier opened #103 "Extremely slow when using a query string"
- Localization Version: 1.2
- Laravel Version: 5.4
- PHP Version: 7.0

### Description:
Hi,
When I'm using a query string, the loading time of a page can take between 3 to 8 seconds when I use the `localsNavabar()` method in my views.
For what I have noticed with an url like this:
`http://localhost:8000/en/dashboard/users?page=2`

Localization is trying to find the corresponding route but don't su

[2017-09-04 11:31] Krato opened #104 "Laravel 5.5 Version"
- Localization Version: 1.2
- Laravel Version: 5.5
- PHP Version: 7.1

Hello, Will be this package upgrade to Laravel 5.5?

When I try to install give me an error.

### Description:
Error on line 6  of `localization/src/Middleware/Middleware.php`.

You need to change:
[code]

to:
[code]

Thanks

[2017-09-04 13:29] arcanedev-maroc commented on #104
**PR:** #105

[2017-09-04 14:56] arcanedev-maroc commented on #104
DONE => `v2.0.0`

[2017-09-04 14:56] #104 closed, assigned to arcanedev-maroc

[2017-09-08 12:18] Krato opened #106 "Nested routes"
- Localization Version: v2.0.0
- Laravel Version: 5.5
- PHP Version: 7.1

### Description:

I'm unable to make it work with nested routes.

### Steps To Reproduce:

This is my routes files:

`es/routes.php`:

[code]

`en/routes.php`:

[code]

And in `routes/web.php`:

[code]

When I call: `localization()->getLocalizedURL('en')` the result is:
[code]

But it should show:
[code]

[2017-09-15 11:35] Krato commented on #106
@arcanedev-maroc Have you tested?

[2017-09-30 11:55] arcanedev-maroc commented on #106
Hi @Krato, sorry for the wait.

I've just tested your case but i can't reproduce the issue.

This is my testing route:

[code]

And i used the same `routes.php` lang files.

Where you did the `localization()->getLocalizedURL('en')` call ?

[2017-09-30 13:01] shirshak55 opened #107 "Many Questions regarding this package."
I have cup of questions regarding this package.

Is `accept-language-header` used only for API, curl etc. I mean does it have any relation with web browser based users????

What do ` non localized root` means. Do it mean  those locales that are not written on `config/localization.php supported_locale`????

### Route
What happens if `localization-session-redirect` and `localization-cookie-redirect`

[2017-09-30 15:41] shirshak55 commented on #102
@NadhirBoukhenifra
You can add current locale to html tag

[code]

Mind it you will need to reload the page if user change the language which should not be painful.

After selecting you can install this package martinlindhe/laravel-vue-i18n-generator

Use it in Vue . You can read docs in package.

Now you can try every thing according to i18n.

Hope it helps

[2017-09-30 23:03] arcanedev-maroc commented on #107
Please check you're posting to the correct package.

[2017-10-01 03:34] shirshak55 commented on #107
@arcanedev-maroc  I have checked both package. I always prefer this package so I asked question here. If you check question all of it belongs to this package thats why. I have looked there also and I know that package is inspiration to this package :)

[2017-10-01 13:45] arcanedev-maroc commented on #107
Yes, it's based on the user's browser, check this [article](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language).

A `non-localized root` means that doesn't have a prefix like `http://website.com/fr` or `http://website.com/es`, it's only `http://website.com => English language`

### Route

The `localization-session-redirect` and `localization-cookie-redirect` middlewares has

[2017-10-01 14:06] shirshak55 commented on #107
Thank you it really helps :)

[2017-10-26 15:00] #107 closed, assigned to arcanedev-maroc

[2017-10-26 15:00] #102 closed, assigned to arcanedev-maroc

[2017-10-29 19:47] jartaud opened #111 "LocalizationKernelTrait is not longer disponible. May be update the doc?"
- Localization Version: ^2.0
- Laravel Version: 5.5.19
- PHP Version: PHP 7.1.10-1+ubuntu17.04.1+deb.sury.org+1 (cli) (built: Sep 29 2017 17:04:49) ( NTS )

### Description:
`PHP Fatal error:  Trait 'Acme\Http\LocalizationKernelTrait' not found in /home/me/Documents/Projects/acme/app/Http/Kernel.php on line 9`

`[Symfony\Component\Debug\Exception\FatalErrorException]`
  `Trait 'Acme\Http\Localizat

[2017-10-30 09:11] arcanedev-maroc commented on #111
The doc is up to date, you can check these changes on [v2.1.0](https://github.com/ARCANEDEV/Localization/compare/2.0.0...2.1.0)

You can remove the `LocalizationKernelTrait` from the `app/Http/Kernel`.

[2017-10-30 09:11] #111 closed, assigned to nobody

[2017-11-27 19:34] jakobbuis opened #113 "Cannot feature test multilanguage routes"
- Localization Version: 2.1.0
- Laravel Version: 5.5.22
- PHP Version: 7.1.8-1ubuntu1

### Description:
I cannot test multilanguage translated routes. Created routes work in the browser, but never in a testcase. Tried it using a empty Laravel-project, which doesn't work either. I'd like to start a PR, but I have no clue where to start at this point in time.

### Steps To Reproduce:
1. Create a new

[2017-11-28 22:22] jakobbuis commented on #113
Additional: I've noticed that
[code]
will result in a 302 redirect (as expected), but both
[code]
result in a 404.

[2017-11-29 11:22] arcanedev-maroc commented on #113
This package needs a rewrite because the localized routes are registered dynamically based on different factors.

I'm aware about this issue and i need time to rewrite it to make it easy to test (with trait helpers). Also make the localized routes cachable.

These are some related issues:

* https://github.com/mcamara/laravel-localization/issues/435
* https://github.com/mcamara/laravel-localizatio

[2017-12-13 16:41] cbaconnier commented on #103
So, I went back on this issue today. I noticed where the problem was coming from.

When we call a 404 page (for example) the method  `localization()->getLocalizedURL($key)`  will call the method `findTranslatedRouteByUrl($url, $attributes, $locale)` .

I noticed the method `findTranslatedRouteByUrl` has a lot of recursion that will call the translations.

With around 300 urls, 90'000+ call to `tra

[2017-12-13 16:55] arcanedev-maroc commented on #103
Ok, this is a little bit complex to solve.

The solution is to rewrite the whole the package with the new ideas that i have and it's going to solve many problems:

 * Cached localized routes.
 * Testing helpers for localized routes.
 * Reduce the middlewares to a single class.

The issue is i don't have spare time to start with a heavy dev with a fresh package. Hope it will come true in early 2018

[2017-12-14 07:21] cbaconnier commented on #103
Oh, I see. Thanks! Since all my routes are named, I should be able to disable this in a fork.

Best regards

[2018-02-27 12:43] hrnicek opened #118 "Automatic redirect according to browser lang."
- Localization Version: 2.1
- Laravel Version: 5.5.34
- PHP Version: 7.1.

### Description:
Hello,

how can I redirect according to browser language? If my browser is CS(Czech), so website auto-redirect to example.com/cs, if browser EN, again auto-redirect to example.com/en.

### Steps To Reproduce:

[2018-02-27 16:16] arcanedev-maroc commented on #118
Hi,

Make sure you add `cs` as a supported locale at [this line](https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L10) and [accept-language-header](https://github.com/ARCANEDEV/Localization/blob/master/config/localization.php#L12) is set to `true`

You can leave the middleware as it is.

[2018-02-27 16:18] #118 closed, assigned to arcanedev-maroc

[2018-02-28 12:24] hrnicek commented on #118
Done. :)

[2018-03-14 06:36] azeos commented on #76
I'm having the same problem. The moment a query string is added, the URL translation fails. Without it it works just fine.

Laravel 5.5
Localization 2.2.1

**routes\web.php:**
[code]
**en\routes.php:**
[code]
**es\routes.php:**
[code]
**nav1.php:**
[code]
**nav2.php:**
[code]
**URLs without query string:**
`proyect.loc/es/festivales/nombre-festival/actividades`
`proyect.loc/en/festivals/name-festi

[2018-03-14 15:07] subdesign opened #120 "One route doesn't work on live server"
- Localization Version: 1.0
- Laravel Version: 5.4.30
- PHP Version: 7.0.x

### Description:

I have **one** translated route, which doesn't work on live server but on localhost. Any idea why? Are the localized routes cached some way?

My config settings:
[code]
So when the page loads, I use the lang chooser found in one of the issues, doesn't translate the route, just adds a `/en` part to the end

[2018-03-15 15:53] karolisbarkauskas opened #121 "Database stored translations"
Hi,

can your package store model translations in database?

if yes, what's the table structure?

[2018-03-15 16:03] arcanedev-maroc commented on #121
There is a trait that handle translations with eloquent model but it still WIP.

Trait: https://github.com/ARCANEDEV/Localization/blob/master/src/Traits/HasTranslations.php

The table structure is the same as you do for unlocalized projects. You store the data as json text (or as json column) with something like `title = {"en": "Post title", "fr": "Titre du post"}`.

You can use a package like: ht

[2018-03-26 10:59] StanBarrows commented on #113
@arcanedev-maroc  are there any updates on this?

[2018-05-14 07:53] #106 closed, assigned to arcanedev-maroc

[2018-05-14 07:53] Krato commented on #106
@arcanedev-maroc Just happened in one project.

Working in others. Thanks!

[2018-06-14 15:11] f-liva opened #124 "Differences from mcamara/laravel-localization"
Unfortunately the mcamara/laravel-localization project seems abandoned to itself and there is no way to fix quite old and limiting bugs, so I would like to move forward and looking for alternatives and I found your project that looks like a mcamara clone.

What are the differences and is this a more safe project to adopt?

[2018-06-14 21:45] arcanedev-maroc commented on #124
Hi @fede91it,

This package is more *cleaner* and maintained compared to  `mcamara/laravel-localization`.

At first, i created this package just for my own projects. But the best way to improve it is by sharing it.

Of course this package was inspired from `mcamara/laravel-localization`, but when you start reading the code, you will notice the differences.

Check this issue #68 for more details.

[2018-06-15 07:18] f-liva commented on #14
I think that **transResource** should be implemented, as Laravel provides **Route::resource** your package should support it, or at least provide a method like **LaravelLocalization::transRoute** that allows you to translate the route on the fly as on mcamara and make the resource work.

By not supporting **Route::transResource** you are discouraging the use of Laravel's good practices, which sugg

[2018-06-15 07:30] f-liva commented on #121
Why not use https://github.com/spatie/laravel-translatable directly?

[2018-06-15 10:52] arcanedev-maroc commented on #14
Hi @fede91it,

**TLDR: Feel free to make a PR with tests** :+1:

TBH, i'm not fan about the `Route::resource` because i prefer to create routes explicitly.

This is why the `transResource` method is not available.

I don't think this considered as a **Laravel's good practices**, this is just what we call a **magic functionnality** that allows you to do a lot of things & faster with little efforts.

[2018-06-16 14:49] #124 closed, assigned to nobody

[2018-07-18 07:01] raiika opened #126 "getLocalizedUrl() with sluggable translation"
Could this be achieved in this repo ?

    domain.com/event/free-money  // en locale

then change language and go to

    domain.com/ja/イベント/無料のお金  // ja locale

[2018-07-18 14:41] arcanedev-maroc commented on #126
Did you checked this section: https://github.com/ARCANEDEV/Localization/blob/master/_docs/3-Usage.md#events

[2018-07-22 01:40] raiika commented on #126
Thank you for your response, I will try it, and I will inform you later if I found a problem or succeed.

[2018-07-24 02:16] raiika commented on #126
Instruction unclear, what is this Event that you are calling ?

I also found out that your localizedGroup(function(){}) could not be called in RouteServiceProvider, how can I use your Router ?

[2018-07-24 10:54] arcanedev-maroc commented on #126
You need to check if you've installed the package correctly (check also the compatible version for your laravel app) if the `localizedGroup` doesn't exists. Follow the instalation steps

The **event** feature allows you to translate the attributes (like slug) of the given route on the fly.

For more details about the laravel `events`, check the official documentation: https://laravel.com/docs/5.6/

[2018-07-24 11:12] raiika commented on #126
It is exist if I called it in the "routes/web.php",
But if I use it in the "RouteServiceProvider.php", it does not exist

Thanks for the information, I'll get back after I understand laravel Event

[2018-07-31 10:32] mrmonat opened #127 "Bug with API Routes Prefix"
- Localization Version: 3.0.0
- Laravel Version: 5.6.28
- PHP Version: 7.1.16

### Description:

I want to use this package inside of my routes/api.php file:
**routes/api.php**
`Route::localizedGroup(function () {
    Route::get('/test', function () {
        return 'test';
    });
});`

**Results**
Trying to access http://my-domain.com/en/api/test fails with 404 aswell as http://my-domain.com/api

[2018-07-31 12:33] arcanedev-maroc commented on #127
I don't recommend to use the package with your API.

Because the `api` routes doesn't have like sessions and others functionalities like `web` routes. [Check the Http Kernel](https://github.com/laravel/laravel/blob/master/app/Http/Kernel.php#L29-L44)

So i don't think it's going to work.

The solution is to create a custom middleware for the localization that retrieves a `lang` parameter from the

[2018-08-02 20:54] mrmonat commented on #127
Okay thank you for the response, I will use the request header to specify the locale :) 👍

[2018-08-02 20:54] #127 closed, assigned to arcanedev-maroc

[2018-09-05 08:30] carlituxman opened #130 "can't install on laravel 5.6"
- Localization Version: 4.0.0
- Laravel Version: 5.6.38
- PHP Version: 7.1.19

### Description:
After composer require arcanedev/localization throws this error:

Problem 1
    - arcanedev/localization 4.0.0 requires arcanedev/support ~4.4.0 -> satisfiable by arcanedev/support[4.4.0].
    - Installation request for arcanedev/localization ^4.0 -> satisfiable by arcanedev/localization[4.0.0].
    - C

[2018-09-05 10:49] arcanedev-maroc commented on #130
You need to install the correct version.

Check this section: https://github.com/ARCANEDEV/Localization/blob/master/_docs/1-Installation-and-Setup.md#version-compatibility

[2018-09-05 10:49] #130 closed, assigned to arcanedev-maroc

[2018-09-09 09:35] ddeshar opened #131 "Can't translate url while switching language"
- Localization Version: 3.*
- Laravel Version: 5.6.*
- PHP Version: 7.1

### Description:
I am using this package for switching language but i am not able to translate url while switching language

Here is my lang switcher
[code]

My route

[code]
my lang/en & th routes

[code]

so how can i translate my url while switch language

[2018-09-24 20:03] quienti opened #132 "Translated route slow"
- Localization Version: 4.0
- Laravel Version: 5.7
- PHP Version: 7.2.6

### Description:

Hi,

I'm facing issues with my translated routes
I've several urls that are translated as below

[code]

It actually roughly take 3 seconds to load.
If I remove all my translated routes, this same page loads way faster (300ms)

Thank you in advance for your help

[2018-10-01 16:20] arcanedev-maroc commented on #132
Hi,

The only advice i can give you for now is caching the config files with `php artisan config:cache`.

**Note:** The middlewares + many routes + db queries can slows down your requests/responses but 3 seconds is not bad if your app isn't an e-commerce website for your clients (based on google articles).

For the time being, the translated routes are not cachable but i work on it (rewrite) when

[2018-10-01 16:20] #132 closed, assigned to arcanedev-maroc

[2018-10-01 16:27] insp3 opened #133 "How do i add an Additional Prefix in Url before locale"
Hello

Old question from mcamara days: is it possible or is there a possible in future to add prefixes before locale.

Like:
* www.example.com/en
* www.example.com/gb

* www.example.com/admin/en
* www.example.com/admin/gb

* www.example.com/b2b/en
* www.example.com/b2b/gb

and so on.

[2018-10-01 17:49] arcanedev-maroc commented on #133
**TLDR:** Is not possible and will not add this feature.

I've choosed the **Subdirectories with gTLD** because it's **REST-compliant** structure and **easy to maintain**.

How about using this structure:

EN:
[code]

GB:
[code]

Link: [Managing multi-regional and multilingual sites](https://support.google.com/webmasters/answer/182192?hl=en)
Related: https://github.com/mcamara/laravel-localization

[2018-10-01 17:49] #133 closed, assigned to arcanedev-maroc

[2018-10-27 14:19] mkwsra opened #134 "getLocalizedURL() is not translating models from dimsav/laravel-translatable"
- Localization Version: 2.2.1
- Laravel Version: 5.6.39
- PHP Version: 7.1.7

### Description:
As simple as the function `getLocalizedURL()` is not returning the correct value for a model bound into route value, and I'm using this library `dimsav/laravel-translatable` for models translation
### Steps To Reproduce:
I have been facing this error for a very long time, I used to add this line `$url =

[2018-10-29 22:46] arcanedev-maroc commented on #134
Have you tried the Localization's [Events](https://github.com/ARCANEDEV/Localization/blob/master/_docs/3-Usage.md#events) ?

[2018-10-29 22:47] mkwsra commented on #134
No actually, I will give it a try and let you know very soon, thanks!

[2018-10-29 22:49] arcanedev-maroc commented on #134
Also, if you're using Laravel `v5.6.x`, upgrade the localization package to `v3.x`.

Check the documentation: https://github.com/ARCANEDEV/Localization/blob/master/_docs/1-Installation-and-Setup.md#version-compatibility

[2018-11-03 07:22] mkwsra commented on #134
So I just checked out the events, and there is a huge misunderstanding, I'm not using your library to translate the models! the matter, in fact, your library wasn't translating models before as far as I can remember.

I'm using `dimsav/laravel-translatable` for translation and I think here where the problem lays.

I ended up changing on `Localization.php` and handling translating the $attributes,

[2018-11-06 00:36] arcanedev-maroc commented on #134
If you've solved your issue, do you mind if you can share the solution for the others ?

Thanks for using the package :+1:

[2018-11-06 00:36] #134 closed, assigned to arcanedev-maroc

[2018-11-06 00:36] #101 closed, assigned to arcanedev-maroc

[2018-11-06 00:37] #76 closed, assigned to arcanedev-maroc

[2018-11-06 00:37] #103 closed, assigned to arcanedev-maroc

[2018-11-06 00:39] #121 closed, assigned to arcanedev-maroc

[2018-11-06 00:39] #126 closed, assigned to arcanedev-maroc

[2018-11-09 12:36] carlituxman opened #135 "problem if url contains substring like prefix"
- Localization Version: 3.*
- Laravel Version: 5.6.39
- PHP Version: 7.1

### Description:

We have 3 langs: `'supported-locales'=> ['es','en','ca']`

If we haver an url like:  `/ca/category1/mypage.html` works correctly, but if the last part of url contains the word of supported-locales.

For example `/ca/category1/mypages.html` it redirect translation to **es** language because mypages contain *

[2018-11-09 14:12] arcanedev-maroc commented on #135
I can't reproduce your issue.

Can you try it with a fresh laravel installation and send me the steps to reproduce it.

[2018-11-10 10:34] carlituxman commented on #135
sorry, I think it was a rare problem with cache. thanks

El vie., 9 nov. 2018 a las 15:12, ARCANEDEV (<notifications@github.com>)
escribió:

--
*Carlos Jiménez Mora*
*INFORMATIK SOLUCIONES*
Tlf: 950 42 62 68 - Serón (Almería)
@carlituxman <https://twitter.com/carlituxman> - carlos@informatik.es

De acuerdo a la Ley 15/1999 sobre Protección de Datos personales,
informamos que tu dirección de email

[2018-11-10 10:38] #135 closed, assigned to arcanedev-maroc

[2018-11-13 15:46] carlituxman opened #136 "default locale"
- Localization Version: 3
- Laravel Version: 5.6
- PHP Version: 7.1

How can I set default locale?.
I have 2 sites with the same webapp, depending of the url I charge some configuration. I need set the default locale different in every configuration. How I can?

[2018-11-13 15:56] arcanedev-maroc commented on #136
I don't understand your question.

What you mean by 2 sites with the same webapp ? What are the urls ?

I think your question is unrelated to this package because the default locale is located in your laravel project.

[2018-11-13 16:19] carlituxman commented on #136
Depend on the domain I set locale with:
Localization::setLocale("es") or Localization::setLocale("en")
but in the url appear http://myurl/es always how can I solve?

El mar., 13 nov. 2018 a las 16:56, ARCANEDEV (<notifications@github.com>)
escribió:

--
*Carlos Jiménez Mora*
*INFORMATIK SOLUCIONES*
Tlf: 950 42 62 68 - Serón (Almería)
@carlituxman <https://twitter.com/carlituxman> - carlos@informat

[2018-11-13 17:39] carlituxman opened #137 "detect locale change"
- Localization Version: 3
- Laravel Version: 5.6
- PHP Version: 7.1

How can I detect change the localization?. We want do some code when change the locale with url /es /en ...

[2018-11-14 12:51] arcanedev-maroc commented on #137
This feature doesn't exists for the time being, feel free to make a PR for this.

[2018-11-14 13:34] arcanedev-maroc commented on #136
If you set manually the locale, you need to redirect your request to a new one.

[2018-11-14 13:34] #136 closed, assigned to arcanedev-maroc

[2018-11-20 11:59] carlituxman opened #138 "ignored-uri with LetsEncrypt"
- Localization Version: 3.*
- Laravel Version: 5.6
- PHP Version: 7.1

I have '.well-known' at ignored-uri but not working. It has any problem with starts with "." ??

[2018-11-21 09:30] carlituxman commented on #138
solved with '.well-known/*'

[2018-11-21 09:30] #138 closed, assigned to nobody

[2018-12-21 18:45] Morinohtar commented on #113
I just bumped into this also. Any news regarding this issue?

Tks

[2018-12-25 17:05] nikydieben opened #139 "Translated URL not always working"
- Localization Version: ^4.0
- Laravel Version: ^7.1.3
- PHP Version: 5.7.*

### Description:

I did the basic setup and choosing a language works and works in my URL. I then adapted my code support the URL translation. This works, however when I try to click my navigation link to a certain page it sometimes loses the language parameter. So what I want is: http://kowloon/fr -> http://kowloon/fr/a-

[2018-12-25 17:07] nikydieben commented on #139
[code]

[2018-12-25 17:20] arcanedev-maroc commented on #139
Can you show me how you generate the navigation menu ?

[2018-12-25 23:16] nikydieben commented on #139
<nav class="navbar navbar-expand-md navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="{{ url('/') }}">
            Knowloon
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}"

[2018-12-25 23:17] nikydieben commented on #139
<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ config('app.name', 'Laravel') }}</title>

    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.c

[2018-12-26 16:48] nikydieben commented on #139
Do you have a clue why this is happening?

Greetz,

________________________________
Van: ARCANEDEV <notifications@github.com>
Verzonden: Tuesday, December 25, 2018 6:20:24 PM
Aan: ARCANEDEV/Localization
CC: Dieben Niky; Author
Onderwerp: Re: [ARCANEDEV/Localization] Translated URL not always working (#139)

Can you show me how you generate the navigation menu ?

—
You are receiving this because y

[2018-12-27 13:37] arcanedev-maroc commented on #139
Hi @nikydieben,

This is not the correct way to generate the urls.

In my projects, i use the named routes. Something like this:

[code]
And for the nav menu:
[code]

Check also the documentation: https://laravel.com/docs/5.7/routing#named-routes

[2018-12-27 13:37] #139 closed, assigned to arcanedev-maroc

[2018-12-27 13:38] nikydieben commented on #139
Hi, thanks! I will check this out!

________________________________
Van: ARCANEDEV <notifications@github.com>
Verzonden: Thursday, December 27, 2018 2:37:08 PM
Aan: ARCANEDEV/Localization
CC: Dieben Niky; Mention
Onderwerp: Re: [ARCANEDEV/Localization] Translated URL not always working (#139)

Hi @nikydieben<https://github.com/nikydieben>,

This is not the correct way to generate the urls.

In my

[2019-01-05 14:37] Morinohtar commented on #113
Ok, i used this approach and it works :)

https://github.com/mcamara/laravel-localization/issues/161#issuecomment-381367191

[2019-01-11 18:32] m7ammad7assan commented on #130
also this error happend to me with no solution

[2019-01-11 19:41] arcanedev-maroc commented on #130
You need to install the correct version based on laravel version:

For example:

Install the Localization `v2.x` if you're using Laravel `v5.5` by running this command `composer require arcanedev/localization:2.x` or updating your `composer.json` file.

[2019-01-28 20:12] flexchar commented on #113
Came around the same.

[2019-02-15 08:43] mkwsra commented on #132
Indeed it's super slow, unfortunately, and I believe all of us should work on caching them, it's critical

[2019-02-25 10:52] cbaconnier commented on #132
I used to have the same issue #103 a year ago and did a fork to make a workaround. The fork implies that you MUST use named routes.

I don't know if the fork would still be compatible with the actual version. I was just passing by wondering if a solution was found since then.

https://github.com/melba-ch/Localization/commit/d76d2502adb3f029b5f7072792739cd3b220bf7b

[2019-02-27 22:11] #120 closed, assigned to arcanedev-maroc

[2019-06-04 08:59] hrnicek commented on #113
Did anyone solve it?

Expected status code 200 but received 302.
Failed asserting that false is true.

[2019-08-05 00:52] jartaud commented on #113
`//web.php`

`if (app()->environment('testing')) {`
        `  require '_web.php';`
    `} else {`
        `Route::localizedGroup(function () {`
           `   require '_web.php';`
        `});`
    `}`

[2019-09-09 20:07] perffy opened #144 "Problem with language selector with parameters"
- Localization Version: 6.0
- Laravel Version: 5.8
- PHP Version: 7.2.21

Description:

The language selector on each page is not working with getLocalizedURL(), when it have more arguments and i pass them through $_SERVER['QUERY_STRING']. In my Sitemap Controller when i pass the locale, route and the parameters to getLocalizedURL() it is working fine.

Steps To Reproduce:

de/routes.php:

[code]

[2019-09-11 09:53] arcanedev-maroc commented on #144
Check this issue: #139

[2019-09-11 09:53] #144 closed, assigned to arcanedev-maroc

[2019-09-11 09:53] #137 closed, assigned to arcanedev-maroc

[2019-09-11 11:49] perffy commented on #144
I saw all similar issues, but didn't find any solution.
How i need to implement the language selector, so it works on every page, without explicit to pass the route parameters ?
I have tried with this, but doesn't work:

`<a rel="alternate" hreflang="{{ $localeCode }}" href="{{ Localization::getLocalizedURL($localeCode, url()->current()) }}{{ $_SERVER['QUERY_STRING'] ? '?' . $_SERVER['QUERY_STRING

[2019-09-11 13:41] arcanedev-maroc commented on #144
What i've mentioned in the previous issue is the use the of method `localization()->getUrlFromRouteName()` to solve your issue.

It's little bit tricky but you need to specify your routes and translations with a specific name convention.

Try this:

### Config

[code]

### Routes
[code]

### Translations

**EN**
[code]

**DE**

[code]

### View - Nav language selector

[code]

As you can see the r

[2019-09-11 14:50] arcanedev-maroc commented on #131
Check #139, #144

[2019-09-11 14:50] #131 closed, assigned to arcanedev-maroc

[2019-09-11 21:46] perffy commented on #144
Unfortunately your code doesn't solve my case.

It produces:
http://soccerbets:7070/prediction/371828/lommel-sk-vs-royale-union-saint-gilloise/2019-09-06/0
http://soccerbets:7070/de/

But i have found the solution for me:

[code]

with that code it is working, but not fully :(

I have also another translation: bg

now if I am on page with locale = en and there are some parameters in the URL, it is

[2019-10-23 16:09] betterapp opened #146 "Symfony\Component\Debug\Exception\FatalThrowableError : Class 'Localization' not found"
- Localization Version: 6.1
- Laravel Version: 6.4
- PHP Version: 7.2

### Description:
 Symfony\Component\Debug\Exception\FatalThrowableError  : Class 'Localization' not found

production.ERROR: Class 'Localization' not found {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Class 'Localization' not found at routes\\web.php:16)

When make composer update

[2019-10-23 16:23] arcanedev-maroc commented on #146
The `Localization` facade was removed.

Try to use the `localization()` helper or [Real-Time Facades](https://laravel.com/docs/6.x/facades#real-time-facades) `Facades\Arcanedev\Localization\Contracts\Localization`

[2019-10-23 16:23] #146 closed, assigned to nobody

[2019-10-23 16:32] betterapp commented on #146
Can You update documentation ?

[2019-10-23 16:45] betterapp commented on #146
How can I use it is template now in version 6 ?

[2019-10-23 16:47] arcanedev-maroc commented on #146
Replace `Localization::` to `localization()->`

[2019-10-23 16:48] betterapp commented on #146
It does not work with smarty

[2019-10-23 16:53] arcanedev-maroc commented on #146
I don't encourage the use of Facade but if you insist, try to add an `aliases` in your `config/app.php`:

[code]

What is smarty ?

[2019-10-23 16:57] betterapp commented on #146
I use smarty as template engine

[2019-10-23 17:19] betterapp commented on #146
Never mind. WOrking ;)

[2019-11-04 20:59] perffy opened #147 "Current language is not been saved in a session"
- Localization Version: 6.0
- Laravel Version: 5.8
- PHP Version: 7.2.21

Description
When I open my domain and change the language, if i open a new tab and enter again the domain, it does not redirect me to my last choice. I dont know if the problem is, that i am hiding the default language prefix.

Steps To Reproduce:

routes/frontend/home.php

[code]

localization.php

[code]

[2019-11-05 08:02] arcanedev-maroc commented on #147
Check this previous issue: https://github.com/ARCANEDEV/Localization/issues/107

[2019-11-05 08:02] #147 closed, assigned to arcanedev-maroc

[2020-03-04 08:42] jochensengier opened #151 "Laravel 7.0"
Would it be possible to update this package to support the newly released Laravel 7?

Thanks!

[2020-03-04 08:58] arcanedev-maroc commented on #151
Working on it :+1:

[2020-03-05 09:30] #151 closed, assigned to nobody

[2020-05-22 12:44] bee-interactive opened #154 "Translated urls from a Laravel Package"
- Localization Version: 7.0.0
- Laravel Version: 7.12.0
- PHP Version: 7.4.5

### Description:

I have quiet the same problem as this issue: https://github.com/ARCANEDEV/Localization/issues/54

I'm using a homemade "laravel shop" package and have some translated routes. (like cart, checkout..)

But it doesn't seem to take the routes.php file from the package. But the translations are taken in cons

[2020-09-12 14:57] betterapp opened #156 "do not install with laravel 8"
- Localization Version: 8
- Laravel Version: 8
- PHP Version: 7.3

### Description:
Using version ^7.0 for arcanedev/localization
./composer.json has been updated
Running composer update arcanedev/localization
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - arcanedev/localizat

[2020-09-12 15:36] arcanedev-maroc commented on #156
Try again

[2020-09-12 15:36] #156 closed, assigned to nobody

[2021-02-03 05:15] harizinside opened #158 "PHP 8 Support?"
- Localization Version: 8.0
- Laravel Version: 8.12
- PHP Version: 8.0

### Description:
can not install with php 8.0.1

### Steps To Reproduce:
[code]

[2021-02-05 10:35] #158 closed, assigned to arcanedev-maroc

[2021-03-25 04:37] jartaud opened #161 "How to get it working with Expose?"
- Localization Version: 8.33.1
- Laravel Version: ^8.0
- PHP Version: 8.0.3

### Description:
I have installed this open source ngrok alternative https://github.com/beyondcode/expose and when I run the provided command, the app gets redirected to /home

I got it working using these tricks: https://github.com/beyondcode/expose/issues/24#issuecomment-805396556 but I've lost the localization.
[code]

[2021-03-26 15:19] arcanedev-maroc commented on #161
Sorry but i can't assist you with this one because i've never used expose

[2021-03-27 00:07] jartaud commented on #161
Thanks!

I just move my home route outside of `Route::localizedGroup(function () {});` when I want to use expose. You can close the issue.

[2021-03-27 00:07] #161 closed, assigned to nobody

[2021-04-16 14:06] hvostuho opened #162 "Non-static method Arcanedev\Localization\Localization::setLocale() should not be called statically"
- Localization Version: 8.1
- Laravel Version: 8.37
- PHP Version: 7.3.17

### Description:
**Error
Class 'Localization' not found**
Please tell me what am I doing wrong?

### Steps To Reproduce:
1. Install Laravel 8

2. Install ARCANEDEV/Localization
`composer require arcanedev/localization`

3. Then do it.
`php artisan vendor:publish --provider="Arcanedev\Localization\LocalizationServiceProvider

[2021-04-18 21:14] arcanedev-maroc commented on #162
You can use the `localization()` helper instead of Localization facade: `localization()->setLocale()`

Or the [Real-Time Facades](https://laravel.com/docs/8.x/facades#real-time-facades) by using this namespace `Facades\Arcanedev\Localization\Contracts\Localization` instead of `Arcanedev\Localization\Localization`

[2021-04-18 21:14] #162 closed, assigned to nobody

[2021-05-19 06:28] yazan-alnugnugh opened #163 "Route Cache"
- Localization Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#

### Description:

I can't use route:cache with package
How I can use route:cache when use it appear 404 page

### Steps To Reproduce:

[2021-05-20 19:34] arcanedev-maroc commented on #163
Explained here: #64

[2021-05-20 19:34] #163 closed, assigned to nobody

[2021-05-21 11:28] Miqayel99 opened #164 "Question about my language"

[2021-05-26 11:09] #164 closed, assigned to nobody

[2021-10-29 07:10] Krato commented on #113
This sould be the accepted answer. Following that answer, this is how I resolved.

First modifiy `config/localization.php` and change `hide-default-in-url`to:

[code]

If you don't use English as your default language you need to override `locale` option on `config/app.php`. For example if you use spanish as your default locale change to:

[code]

Then add to your phpunit.xml this valus inside the

[2021-11-04 18:51] Krato opened #165 "Signed routes - 401 Invalid Signature"
- Localization Version: ^8.1
- Laravel Version: 8.69.0
- PHP Version: 8.0.10

### Description:

When you try to use signed routes with translated routes always fires:

`401 Invalid Signature
`

[2021-11-24 23:24] #154 closed, assigned to nobody

[2022-02-19 19:49] gboquizosanchez opened #167 "Bump Laravel 9"
Can be possible upgrade the package to Laravel 9?

Thanks in advance

[2022-02-21 16:46] criting opened #168 "Why don't change of the prefix set a new local/language?"
- Localization Version: 8.1
- Laravel Version: 8.5.1
- PHP Version: 8.1.1

I followed the steps and installed the package, edited the config for it and allowed EN and BG to be available.
The EN is default and BG is the other option available.
When I open it with BG prefix /bg/ all the links work, and they are all with the BG prefix, but the actual content is always from the EN version, and using L

[2022-02-22 10:43] mkwsra commented on #167
@arcanedev-maroc Can you please help us in this when you can?

[2022-02-24 09:48] karim-alomar commented on #167
Please, Can you upgrade the version of the package for laravel 9?

[2022-02-26 02:14] #167 closed, assigned to nobody

[2022-02-26 02:28] #165 closed, assigned to arcanedev-maroc